<div class="register-container white-bg">
  <div class="medium-container">
    <div class="left-register-form">
      <form action="">
        <div class="login-form-field">
          <span>Login:</span>
          <input type="text">
        </div>
        <div class="login-form-field">
          <span>Password:</span>
          <input type="password">
        </div>
        <div class="login-form-field">
          <span>Repeat password: </span>
          <input type="password">
        </div>

        <!-- shown when login success
        <span ngIf="">Login success</span> -->
        <h5>Klikając przycisk utwórz konto, akceptuję <a>Regulamin</a> </h5>
        <p>Przyjmuję do wiadomości, że OLX wykorzystuje moje dane osobowe zgodnie z <a>Polityką prywatności</a> oraz <a>Polityką dotyczącą plików cookie i podobnych technologii</a>. OLX wykorzystuje zautomatyzowane systemy i partnerów do analizowania, w jaki sposób korzystam z usług w celu zapewnienia odpowiedniej funkcjonalności produktu, treści, dostosowanych i opartych na zainteresowaniach reklam, jak również ochrony przed spamem, złośliwym oprogramowaniem i nieuprawnionym korzystaniem z naszych usług.</p>

        <!-- Checbox--> <p>Wyrażam zgodę na używanie przez Grupę OLX sp. z o.o. środków komunikacji elektronicznej oraz telekomunikacyjnych urządzeń końcowych w celu przesyłania mi informacji handlowych oraz prowadzenia marketingu (np. newsletter, wiadomości SMS) przez Grupę OLX sp. z o.o., podmioty powiązane i partnerów biznesowych.</p>
      </form>
      <button class="register-btn">Utwórz konto indywidualne</button>
    </div>
    <div class="right-register visible-sm">
      <div class="right-header-content">
        <h4>Konto umożliwia dostęp do zakładki </h4>
        <h4>Moje Auto-Centrum gdzie możesz:</h4>
      </div>
      <div class="right-bottom-content">
        <ul class="right-bottom-ul">
          <li>
            <span><i class="far fa-check-circle fa-2x"></i></span>
            edytować lub usuwać swoje ogłoszenia</li>
          <li>
            <span><i class="far fa-check-circle fa-2x"></i></span>edytować lub usuwać swoje ogłoszenia</li>
          <li>
            <span><i class="far fa-check-circle fa-2x"></i></span>edytować lub usuwać </li>
          <li><span>Podaj swój adres e-mail i Twoje hasło</span>
          <p>Potwierdź klikając w przycisk przesłany
            w oddzielnym e-mailu</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
