<div class="register-container white-bg">
  <div class="medium-container">
    <div class="left-register-form">
      <form [formGroup]="registerform">

      <!--  <div class="login-form-field">
          <span>Email:</span>
          <input type="email" formControlName="email">
          <span *ngIf="registerform.get('email').hasError('required')">This field is required</span>
        </div>
        -->

        <div class="myfield">
          <span>Email:</span>
          <mat-form-field>
            <mat-error>Email is required</mat-error>
            <input type="email"  formControlName="email" matInput placeholder="">
          </mat-form-field>
        </div>

        <div class="myfield">
            <span>Password:</span>
            <mat-form-field>
              <mat-error>Password is required</mat-error>
              <input type="password"  formControlName="password" matInput placeholder="">
            </mat-form-field>
        </div>
        <div class="myfield">
          <span>Repeat password: </span>
          <mat-form-field>
            <mat-error>Password is required</mat-error>
            <input type="password" matInput placeholder="">
          </mat-form-field>
        </div>

        <div class="myfield sm">
          <span>Name: </span>
          <mat-form-field>
            <input type="text" matInput formControlName="first_name" placeholder="">
          </mat-form-field>
        </div>

        <div class="myfield sm">
          <span>Last Name: </span>
          <mat-form-field>
            <input type="text" matInput formControlName="last_name" placeholder="">
          </mat-form-field>
        </div>



        <div class="myfield">
          <span>Country: </span>
          <mat-form-field>
            <input type="text" matInput formControlName="country" placeholder="">
          </mat-form-field>
        </div>

        <div class="myfield">
          <span>Adress: </span>
          <mat-form-field>
            <input type="text" matInput formControlName="adress" placeholder="">
          </mat-form-field>
        </div>

        <div class="myfield sm">
          <span>Postal Code: </span>
          <mat-form-field>
            <input type="text" matInput formControlName="post_code" placeholder="">
          </mat-form-field>
        </div>

        <div class="myfield sm">
          <span>City: </span>
          <mat-form-field>
            <input type="text" matInput formControlName="city" placeholder="">
          </mat-form-field>
        </div>

        <!-- shown when login success
        <span ngIf="">Login success</span> -->
        <p>By creating an account, you agree to our <a>User Agreement</a> and acknowledge reading our <a>User Privacy Notice</a>.</p>

        <!-- Checbox--> <p>WLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </form>
      <button mat-raised-button class="main-button orange" (click)="register()" [disabled]="registerform.invalid">Create an account</button>
    </div>
    <div class="right_form">
      <div id="right_top_wrapper">
        <h3>Is this your first time being here?</h3>
        <p>Create an account and gain a lot</p>
      </div>

      <div class="w-100 center-text">

        <ul id="right_from_list">
          <li><i class="far fa-check-circle"></i>Access saved cars and searches.</li>
          <li><i class="far fa-check-circle"></i>Make more money when you sell your car yourself.</li>
          <li><i class="far fa-check-circle"></i>You can sell your own car on less than 2 minutes.</li>
          <li><i class="far fa-check-circle"></i>We help you to find the best financial solution.</li>


        </ul>
      </div>

    </div>
  </div>
</div>
<!-- footer -->
<section class="footer">
  <app-footer></app-footer>
</section>
