@import "../../../assets/styles/global";



      //Left One
      .left-register-form {
        .w-100;
        .d-inline;
        padding-bottom: 20px;
        @media @small {
          .w(calc(50% - 10px));
          margin-right: 10px;
        }
        @media @medium {
          .w(calc(50% - 40px));
          margin-right: 40px;
        }
      }
.main-button {
  .w-calc(100%, 10px);
}
              form {
                p {
                  font-size: 14px;
                  color: lighten(gray, 5%);
                  font-weight: 200;
                  padding: 10px;
                  a {
                    font-weight: 800;
                  }
                }
              }
.sm {
  .w(50%);
  .d-inline;
}
.error_snackbar {
  background-color: red !important;
}


