<div class="big-container">
  <div class="filter-container">
    <ul class="filter-list">
      <li class="s">Strona główna <i class="fas fa-angle-right"></i></li>
      <li class="s">{{car.category}} <i class="fas fa-angle-right"></i></li>
      <li>{{car.mark}}</li>
      <li>{{car.model}}<i class="fas fa-angle-right"></i></li>
      <li>{{car.version}}</li>
    </ul>

  </div>
  <div class="navi">
<app-detail-navi #detail_navi_children [car] ="car"></app-detail-navi>
  </div>
  <div class="bottom-xs-navi hidden-sm">
    <ul>
      <li><a><i class="fas fa-phone"></i>Zadzwon</a></li>
      <li><a class="blue"><i class="fas fa-envelope"></i>Napisz</a></li>
    </ul>
  </div>
<section class="main-detail-section">
  <div class="another-container">   <!--have to add class .medium-container -->
          <div class="main-detail-img">
            <i class="fas fa-chevron-left mychevron"></i>
            <div class="main-img"></div>
            <i class="fas fa-chevron-right mychevron"></i>

              <span class="show-all-images">Zobacz wszystkie zdjęcia liczba <i class="fas fa-camera"></i></span>
          </div>
          <div class="dealer-info-container">
              <div class="dealer-info-top main-bg">
              <h5>dealer or client</h5>
                <span>Sprzedający na Autocenter od data!</span>
                <h4>Nazwa Clienta</h4>
                <img class="premium-img" src="" alt="premium">
              </div>
              <div class="dealer-info-mid">
                <div class="dealer-logo">
                  empty
                </div>
                <div class="dealer-where">
                  <i class="fas fa-map-marker-alt"></i><span>Skąd pochodzi</span>
                </div>
                <div class="dealer-numbers">
                  <ul>
                    <li><i class="fas fa-phone"></i> <span *ngIf="visibleboolean">51220292</span> <span (click)="shownumber()" class="c-pointer">Wyswietl numer</span></li>
                  </ul>
                </div>

              </div>
          </div>
    <div class="date-id-details" #details_now_fixed>
      <h2>Szczegóły</h2>
      <ul>
        <li><span class="list-span">Oferta od:</span> <a class="nav">{{car.from}}</a></li>
        <li><span class="list-span">Kategoria:</span> <a class="nav">{{car.category}}</a></li>
        <li><span class="list-span">Marka:</span> <a class="nav">{{car.mark}}</a></li>
        <li><span class="list-span">Model:</span> <a class="nav">{{car.model}}</a></li>
        <li><span class="list-span">Wersja:</span> <a>ob8</a></li>
        <li><span class="list-span">Rok:</span> <a class="nav">{{car.year}}</a></li>


        <li><span class="list-span">Przebieg:</span> <a>{{car.course}} Km</a></li>
        <li><span class="list-span">Rodzaj paliwa:</span> <a class="nav">{{car.fuel}}</a></li>
        <li><span class="list-span">Skrzynia</span> <a>{{car.gearcase}}</a></li>
      </ul>
      <ul>
        <li><span class="list-span">kolor</span> <a>{{car.color}}</a></li>
        <li><span class="list-span">stan</span> <a>{{car.state}}</a></li>
      </ul>

    </div>
  </div>
</section>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
