<div class="big-container" [ngClass]="{'showbig': bigbool}" >
  <div class="navi">
<app-detail-navi #detail_navi_children [car] ="car"></app-detail-navi>
  </div>
  <div class="bottom-xs-navi hidden-sm">
    <button mat-raised-button color="danger"><i class="fas fa-phone"></i>Call</button>
    <button mat-raised-button color="primary" (click)="showContact()"><i class="fas fa-envelope"></i>Contact</button>
  </div>
<section class="main-detail-section">
  <div class="another-container">   <!--have to add class .medium-container -->
          <div class="main-detail-img" #slider_wrapper>
            <div class="chevron_wrapper" (click)="slideit('-')" *ngIf="visibleLeft" id="leftchev">
              <i class="fas fa-chevron-left mychevron"></i>
            </div>
            <div class="chevron_wrapper" (click)="slideit('+')" *ngIf="visibleRight" id="rightchev">
              <i class="fas fa-chevron-right mychevron"></i>
            </div>

            <figure style="height: 100%" class="myfigure" #figure>  <!--[ngStyle]="{'background-image': 'url(' + img + ')'}" -->
              <div class="img_carousel_wrapper" *ngFor="let img of small_img_src" #sliders [ngStyle]="{'background-image':' url(' + img + ')'}">
               <!-- <img [src]="img" class="img_carousel"> -->
              </div>


            </figure>
            <span class="show-all-images" (click)="showAllImages()"><i class="fas fa-camera"></i> Show all images</span>
          </div>

    <div class="dealer-info-container">
            <div id="price_info">
              <h3>Price</h3> <span id="price_inside">{{car.price}} $</span>
            </div>
              <div class="dealer-info-mid">
                <div class="dealer-where">
                  <i class="fas fa-calendar-alt"></i>{{car.year}}
                </div>
                <div class="dealer-where">
                  <i class="fas fa-road"></i>{{car.course}} km
                </div>
                <div class="dealer-where">
                  <i class="fas fa-map-marker-alt"></i><span>{{car.from}}</span>
                </div>
                <div class="dealer-where">
                  <i class="fas fa-clock"></i>{{car.start_date}}
                </div>
                <div class="dealer-where">
                    <div *ngIf="visibleboolean" [@scale3dboth]>
                      <i class="fas fa-phone"></i><span>51220292</span>
                    </div>
                  <button mat-raised-button (click)="shownumber()" class="main-button orange" *ngIf="!visibleboolean">Show Number</button> <button mat-raised-button (click)="hidenumber()" class="main-button orange" *ngIf="visibleboolean">Hide Number</button>
                  <button mat-raised-button class="main-button blue visible-sm" (click)="showContact()">Contact</button>
                </div>


              </div>
          </div>
    <div class="date-id-details" #details_now_fixed>
      <div class="details-button-wrapper">
        <button mat-raised-button class="main-button headers_btn blue">Details</button>
      </div>

      <ul>
        <li><span class="list-span">Country:</span> <a class="nav">{{car.from}}</a></li>
        <li><span class="list-span">Mark:</span> <a class="nav">{{car.mark}}</a></li>
        <li><span class="list-span">Model:</span> <a class="nav">{{car.model}}</a></li>
        <li><span class="list-span">Year:</span> <a class="nav">{{car.year}}</a></li>
        <li><span class="list-span">Published:</span> <a class="nav">{{car.start_date}}</a></li>
        <li><span class="list-span">Course:</span> <a class="nav">{{car.course}} Km</a></li>
        <li><span class="list-span">Type:</span> <a class="nav">{{car.type}}</a></li>
        <li><span class="list-span">Fuel:</span> <a class="nav">{{car.fuel}}</a></li>
        <li><span class="list-span">Gearcase</span> <a class="nav">{{car.gearcase}}</a></li>
      </ul>
      <ul>
        <li><span class="list-span">Color:</span> <a class="nav">{{car.color}}</a></li>
        <li><span class="list-span">State:</span> <a class="nav">{{car.state}}</a></li>
        <li><span class="list-span">Power:</span> <a class="nav">{{car.power}} KW</a></li>
        <li><span class="list-span">Engine capacity:</span> <a class="nav">{{car.engine_capacity}} cm<sup>3</sup></a></li>

      </ul>

    </div>
    <div id="description_wrapper">
      <div class="details-button-wrapper">
        <button mat-raised-button class="main-button blue headers_btn">Description</button>
      </div>
      <div class="date-id-details">{{car.description}}</div>
    </div>
  </div>
</section>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
