@import "../../../assets/styles/global";
@import "../../../assets/styles/variables";

.main-bg {
  background-color: darkgray;
}

.big-container {
  position: relative;
}
//main container
.main-detail-section {
  background-color: lighten(lightgray, 10%);
}
      //navi
          .navi {
            margin: 0;
            padding: 0;
            @media @small {
              position: relative;
              bottom: 40px;
            }
          }

          //hidden small navi
        .bottom-xs-navi {
          .position(fixed, @bottom: 0);
          .w(100%);
          .bg-trans;
          z-index: 50 !important;


          ul {
                  .list-style-none;
                  padding: 6px;
            margin: 0;

                      li {
                        .d-inline;
                        .center-text;
                        .w-calc(@width: 50%, @calc-value: 3px);
                        .padding-top-bottom(10px, 10px);
                        border-radius: 3px;
                        color: white;
                        .c-pointer;
                        i {
                          margin-right: 5px;
                        }
                        &:first-child {
                          background-color: red;
                          margin-right: 3px;
                        }
                        &:nth-child(2) {
                          background-color: @brands-color;
                          margin-left: 3px;
                        }

                        &:hover {
                          .basic-transition;
                          &:first-child {
                            background-color: darken(red, 20%);
                          }
                          &:nth-child(2) {
                            background-color: lighten(@brands-color, 20%);
                          }
                        }
                      }
                }
        }


              //filter
        .filter-container {
          .medium-container;
          padding-top: 0;
          @media @small {
          }

        }
            //list
        .filter-list {
          .list-style-none;
          margin: 0;
          font-size: 16px;
          line-height: 40px;
          color: @brands-color;
          .visible-sm;
          @media @small {
            position: relative;
            top: 133px;            //40px + 40px + 23px + 3x10px    //app-detail-navi
          }
          @media @medium {
            top: 110px;         //40px + 40px + 3x10px   app-detail-navi
          }
        li {
          .d-inline;
          i {
            margin: 0 10px;
            opacity: 0.6;
            font-weight: 200;
          }
        }
          .s {
            .d-none;
            @media @small {
              .d-inline;
            }
          }
        }


        .main-detail-section {
          .w(100%);
        }
.another-container {
  @media @medium {
    .medium-container;
  }
}

        //main-content-img
        .main-detail-img {
          .d-inline;
          .clear;
          .position(relative);
          .w-100;
          height: @detail-big-img-height;
          .padding-top-bottom(0, 30px);
                          top: -229px; //just for the x-small devices    it's a height of detail-navi

                          @media @small {
                            top: 0;
                          }

                  .main-img {
                    height: 100%;
                    .c-pointer;
                    background-image: url("../../../assets/images/maxresdefault.jpg");
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    -webkit-background-size: cover;
                    background-size: cover;
                    //margin-bottom: 30px;
                    .w(100%);
                    @media @medium {
                      .w(70%);
                      .position(relative, @left: 50%);
                      transform: translateX(-50%);
                    }
                  }
                  .mychevron {
                    .position(absolute, @top: 50%);
                    font-size: 30px;
                    transform: translateY(-50%);
                    .c-pointer;

                    &:hover {
                      color: @hover-text-color;
                    }

                    &:first-of-type {
                      left: 6px;
                      @media @medium {
                        left: 7.5%;
                      }
                    }
                    &:nth-of-type(2) {
                      right: 6px;
                      @media @medium {
                        right: 7.5%;
                      }
                    }
                  }

          //transform: translateY(calc(-100% + 50px));
          @media @medium {
            .w(70%);
          }

              .show-all-images {
                font-size: 14px;
                float: right;
                color: @brands-color;
                .c-pointer;
                line-height: 30px;
                position: absolute;
                bottom: 0;      //couse of 30px big imgs margin
                right: 15px;
                &:hover {
                  color: @hover-text-color;
                }
              }
        }


          //dealer-info
              .dealer-info-container {
                .w-calc(100%, 22px);
                vertical-align: top;
                margin: 0 10px 10px;
                border: 1px solid darken(darkgray, 10%);
                .drop-shadow();

                                //medias
                            @media @small {
                              .w-calc(40%, 22px);
                              .d-inline;
                            }
                              @media @medium {
                                .w-calc(30%, 22px);
                              }
              }
              .dealer-info-top {
                padding: 15px;
                .clear;
                h5 {
                  .d-inline;
                }
                span {
                  float: right;
                }
                img {
                }
              }
              .dealer-info-mid {
                padding: 15px;
              }

              .dealer-where {
                border-bottom: solid 1px grey;
                line-height: 40px;
                i {
                  margin-right: 10px;
                }
              }
              .dealer-numbers {
                ul {
                  .list-style-none;
                  li {
                    span {
                      margin-left: 10px;
                      padding: 10px 15px;
                      background-color: @brands-color;
                      color: white;
                    }
                  }
                }
              }


                                    //details info
                      .date-id-details {
                        .w(100%);
                       .d-inline;
                        padding: 20px;
                        ul {
                          padding: 0;
                          margin: 0;
                          .d-block;
                          vertical-align: top;
                                @media @medium {
                                  .d-inline;
                                  .w(45%);
                                }
                          li {
                            line-height: 30px;
                          }
                        }
                                  .list-span {
                                    opacity: .7;
                                    .d-inline;
                                    .w(40%);
                                    &:first-letter {
                                      text-transform: uppercase;
                                    }
                                  }
                        .nav {
                          color: @brands-color !important;
                          .c-pointer;
                          &:hover {
                            color: @hover-text-color !important;
                          }
                        }

                        @media @small {
                          .w(40%);
                        }
                        @media @medium {
                          .w(70%);
                        }
                        li {
                          .list-style-none;
                        }
                      }
