@import "../../../assets/styles/global";


.left-navi-container {
  padding: 10px;
}


.left-navi-uls {
  .list-style-none;
  padding: 10px;
  li {
    margin-top: 10px;
    color: @bg-color;
    a {
      .c-pointer;
      &:hover {
        color: @sec-color;
      }
    }

  }
}
h4 {
  text-transform: uppercase;
  color: @sec-color;
  border-bottom: solid 1px @bg-color;
  padding-bottom: 7px;
  .center-text;
}



.close {
  .position(absolute, @top: 10px, @right: 10px);
  font-size: 25px;
  border: none;
  color: @bg-color;
  .bg-trans;
  &:hover {
    opacity: .8;
  }
}
#logo {
  border-bottom: solid 1px @bg-color;
  padding-bottom: 8px;
}
