<div class="left-navi-container">
  <button class="add-button">Dodaj Ogłoszenie</button>
  <div class="flex-cont">
    <div class="active"><i class="fas fa-car"></i><span>osobowe</span></div>
    <div><i class="fas fa-bicycle"></i><span>rowery</span></div>
    <div><i class="fas fa-motorcycle"></i><span>motocykle</span></div>
  </div>
  <ul class="left-navi-uls">
    <li>Obser</li>
    <li>dsdsi</li>
    <li>lorem</li>
  </ul>
  <h4>Moje konto</h4>
  <ul class="left-navi-uls">
    <li>Zaloguj</li>
    <li>Zarejestruj</li>
    <li>Utworz konto</li>
  </ul>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>




