@import "../../../assets/styles/global";


         //The big container

          .navi-login-container {
            background-color: @main-color;
           margin-top: 0;
            margin-bottom: 0;
            padding: 0;
          }
.navi-login-header {
  .padding-top-bottom(30px, 30px);
  .center-text;
  font-size: 29px;
  color: white;
  margin: 0;
}

.navigation-ul {
  margin: 0;
  .list-style-none;
  li {
    .d-inline;
    padding: 20px 25px;
    .c-pointer;
    opacity: 1;
    outline: 0;
    font-size: 1rem;
    text-transform: uppercase;
    .font-bold;
    color: @sec-color;
    font-family: 'Open Sans', sans-serif;


    &:hover {
      color: @bg-color;
    }
  }
}
.active {
  background-color: @bg-color !important;
  color: @main-color !important;
  &:hover {
    opacity: 1 !important;
  }
}
