<div class="navi-login-container">
  <div class="medium-container">
    <h1 class="navi-login-header">Zaloguj się</h1>
    <div class="navigation-list visible-sm">
      <ul class="navigation-ul">
        <li routerLink='/login/' [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Zaloguj się</li>
        <li routerLink='/login/dealer' [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Utwórz konto dealera</li>
        <li routerLink='/login/register' [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Utwórz konto indywidualne </li>
      </ul>
    </div>
  </div>
</div>
