<div class="navi-login-container">
  <div class="medium-container">
    <h1 class="navi-login-header">Sing-In</h1>
    <div class="navigation-list visible-sm">
      <ul class="navigation-ul">
        <li routerLink='/login/' [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Log-in</li>
        <li routerLink='/login/dealer' [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Dealer account</li>
        <li routerLink='/login/register' [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Register</li>
      </ul>
    </div>
  </div>
</div>
