<div class="main-form">
  <form>
    <!-- Radio Buttons-->
    <div class="Form-engine">



      <div class="change-width3">
        <span>Marka i Model:</span>
        <mat-form-field class="auto_field" floatLabel="never">
          <mat-select  name="food" placeholder="- marka -" [(ngModel)]="mark" name="mark" (selectionChange)="checkmark(mark)">
            <mat-option *ngFor="let mark of marks$ | async" [value]="mark">
              {{mark}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="auto_field">
          <mat-select  name="food" placeholder="- model -" [(ngModel)]="model" name="model">
            <mat-option *ngFor="let model of correct_models" [value]="model">
              {{model}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="change-width">
        <span>Cena:</span>
          <mat-form-field class="auto_field">
          <input type="number"   aria-label="Number" matInput placeholder="Od:" [(ngModel)]="price_from" name="price_from">
            <span class="spanAbs">zł</span>
        </mat-form-field>

        <mat-form-field class="auto_field">
          <input type="number"   aria-label="Number" matInput placeholder="Do:" [(ngModel)]="price_to" name="price_to">
          <span class="spanAbs">zł</span>

        </mat-form-field>
      </div>
      <div class="change-width">
        <span>Rok Produkcji:</span>
        <mat-form-field class="auto_field">
          <input type="number"   aria-label="Number" matInput placeholder="Od:" [(ngModel)]="year_from" name="year_from">
          <span class="spanAbs">r</span>
        </mat-form-field>
        <mat-form-field class="auto_field">
          <input type="number"   aria-label="Number" matInput placeholder="Do:" [(ngModel)]="year_to" name="year_to">
          <span class="spanAbs">r</span>
        </mat-form-field>
      </div>
      <div class="change-width">
        <span>Przebieg:</span>
        <mat-form-field class="auto_field">
          <input type="number"   aria-label="Number" matInput [matAutocomplete]="auto" placeholder="Od:" [(ngModel)]="course_from" name="course_from">
          <span class="spanAbs">km</span>
        </mat-form-field>
        <mat-form-field class="auto_field">
          <input type="number"   aria-label="Number" matInput [matAutocomplete]="auto" placeholder="Do:" [(ngModel)]="course_to" name="course_to">
          <span class="spanAbs">km</span>
        </mat-form-field>
      </div>
    </div>
    <div class="span-buttons-cont">
      <span id="rfuel">Rodzaj Paliwa:</span>
      <div class="spans-inside">
        <span class="span-send-value" (click)="sendspan(1, $event)" [ngClass]="{'span-clicked': firstclicked == 1}">Diesel</span>
        <span class="span-send-value" (click)="sendspan(2, $event)" [ngClass]="{'span-clicked': firstclicked == 2}">Benzyna</span>
        <span class="span-send-value" (click)="sendspan(3, $event)" [ngClass]="{'span-clicked': firstclicked == 3}">Wszystkie</span>
      </div>
    </div>
    <!-- Search button-->

    <div class="bottom-form">
      <p>Wyszukiwanie</p>
      <button mat-raised-button color="primary" (click)="AutogoToOffers()" class="search_button"><i class="fas fa-search"></i>Wyszukaj</button>
    </div>
  </form>
</div>
