<div class="main-form">
  <form>
    <!-- Radio Buttons-->
    <div class="Form-engine">
      <div class="radio-buttons-cont">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button class="radio-group" value="Wszystkie" color="primary" checked>Wszystkie</mat-radio-button>
          <mat-radio-button class="radio-group" value="Nowe" color="primary">Nowe</mat-radio-button>
          <mat-radio-button class="radio-group" value="Używane" color="primary">Używane</mat-radio-button>
        </mat-radio-group>
      </div>


      <div class="change-width">
        <span>Marka i Model:</span>
        <mat-form-field class="auto_field">
          <input type="text" aria-label="Number" matInput [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option class="myoption" *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="auto_field">
          <input type="text"   aria-label="Number" matInput [matAutocomplete]="auto">
          <mat-placeholder class="placeholder">Search</mat-placeholder>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option class="myoption" *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="change-width">
        <span>Cena:</span>
        <mat-form-field class="auto_field">
          <input type="text"   aria-label="Number" matInput [matAutocomplete]="auto" name="Od">

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option class="myoption" *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="auto_field">
          <input type="text"   aria-label="Number" matInput [matAutocomplete]="auto">

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option class="myoption" *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="change-width">
        <span>Rok Produkcji:</span>
        <mat-form-field class="auto_field">
          <input type="text"   aria-label="Number" matInput [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option class="myoption" *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="auto_field">
          <input type="text"   aria-label="Number" matInput [matAutocomplete]="auto">

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option class="myoption" *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="change-width">
        <span>Przebieg:</span>
        <mat-form-field class="auto_field">
          <input type="text"   aria-label="Number" matInput [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option class="myoption" *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="auto_field">
          <input type="text"   aria-label="Number" matInput [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option class="myoption" *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="span-buttons-cont">
      <span>Rodzaj Paliwa:</span>
      <div class="spans-inside">
        <span class="span-send-value" (click)="sendspan(1, $event)" [ngClass]="{'span-clicked': firstclicked == 1}">Diesel</span>
        <span class="span-send-value" (click)="sendspan(2, $event)" [ngClass]="{'span-clicked': firstclicked == 2}">Benzyna</span>
        <span class="span-send-value" (click)="sendspan(3, $event)" [ngClass]="{'span-clicked': firstclicked == 3}">Wszystkie</span>
      </div>

    </div>
  </form>
</div>
