@import "../../../assets/styles/global";

.anyway {
  background-color: blue;
}
.one-car {
 .w-calc(100%, 22px);
  .clear;
  padding: 10px 10px 10px;
  border: 1px solid @brands-color;
  margin: 15px 0;

  &:hover {
    background-color: @brands-color;
    color: white;
    .basic-transition;
    .c-pointer;
  }
}

.one-car-right-side-wrapper, .one-car-img {
  .d-inline;
}
.one-car-price {
  float: right;
}
.one-car-img {
.w(100px);
  background-color: red;
}
.one-car-right-side-wrapper {
  padding: 0 5px;
  span {
    font-size: 12px;
    margin-left: 10px;
    opacity: .8;
  }
  h4 {
    margin: 0;
  }
}
.fa-angle-double-right {
  margin: 0 5px;
  font-size: 8px;
}
