@import "../../../assets/styles/global";

#small_navi_separator {
  background-color: lighten(lightgray, 5%);
  font-family: "Open Sans", Arial , sans-serif;

  padding: 0 15px;


}

                  //For small devices!
              .filterbtn {
                margin: 15px 0;
                button {
                  width: 40%;
                }
                @media @medium {
                  .d-none;
                }
              }

              //for bigger one
            #filters_medium_wrapper {
              .d-none;
              @media @medium {
                .d-block;
               padding-bottom: 10px;
                margin-top: 15px;
              }
            }
            .one_medium_filter {
              .d-inline;
              background-color: whitesmoke;
              margin-left: 20px;
              font-size: 0.8rem;
              .relative;
              .clear;
              .w(140px);
              @media @large {
                .w(170px);
              }
              &:nth-child(1) {
                margin-left: 0;
              }
              i {
                float: right;
              }
            }
            .one_medium_inside {
              .w-calc(100%, 20px);
              height: 100%;
              padding: 10px;
              .c-pointer;

            }
            .hidden_filter {
              .absolute;
              bottom: 0;
              left: 0;
              .w(250px);
              height: 150px;
              padding: 5px;
              z-index: 5;
              .center-text;
              overflow: hidden;
              background-color: lighten(lightgray, 5%);
              transform: translateY(100%);
            }

            .top_filter_fields {
              background-color: whitesmoke;
              margin-left: 20px;
              .d-inline !important;
              .w(140px);
            }
            mat-form-field {
              font-size: 0.8rem !important;
              padding: 10px;
              font-family: "Open Sans", Arial , sans-serif;
            }
            ::ng-deep .mat-form-field-wrapper {
              padding-bottom: 0 !important;

            }
            ::ng-deep .mat-form-field-label-wrapper {
              padding-top: 0 !important;
            }
            ::ng-deep .mat-form-field-infix {
              border-top-width: 0 !important;
              padding: 0 !important;

            }
            ::ng-deep .mat-select-value {
              color: @brands-color;
            }


            ::ng-deep .mat-form-field-label-wrapper {
              .d-none;
            }

            ::ng-deep .mat-form-field-underline {
              .d-none;
            }
            ::ng-deep .mat-select-arrow {
              border: none !important;
              &:after {
                content: "\f078";
                font-family: 'Font Awesome 5 Free';
                .absolute;
                top: 0;
                right: 0;
                color: black;
                font-weight: 900;
              }
            }
            ::ng-deep .mat-select-placeholder {
              color: black !important;
              -webkit-text-fill-color: black !important;

            }
            /*
            ::ng-deep .mat-select-panel {
              .w(160px) !important;
            }
            */


#forselect {
  .d-inline;
  .relative;
  margin-left: 20px;
  i {
    .absolute;
    top: 0;
    right: 0;
  }
}
                //to test!!
                select {
                  -webkit-appearance: none;
                  border: none;
                  border-radius: 0;
                  outline: 0;
                  .one_medium_filter;
                  .relative;
                        option {
                          -webkit-rtl-ordering: unset;
                          font-family: "Open Sans", Arial , sans-serif;
                          white-space: normal;
                          background-color: whitesmoke !important;
                        }
                }

#smallerone {
  opacity: .6;
  float: right;
  font-size: 0.9rem
}
.left_offers_top {
  .w(100%);
  position: fixed;
  height: 100%;
  left: -100%;
  top: 0;
  z-index: 99;
  text-align: left;
 border: 1px lightgray solid;
  .drop-shadow();
  background-color: rgba(0,0,0,0.4);
  .custom-transition(0.4s all linear);

  @media @medium {
  .d-none;
  }
}
#left_offers_inside {
  .w-calc(75%, 20px);
  height: 100%;
  padding: 10px;
  background-color: lighten(lightgray, 5%);


}
                //after click
                .left_offers_show {
                  left: 0;
                  .custom-transition(0.4s all linear);
                }


.right_offers {
  .w-calc(100%, 20px);
  .d-inline;
  margin-right: 20px;
  padding-bottom: 20px;
  z-index: 2;
}
.one-car {
 .w-calc(50%, 22px);
  background-attachment: scroll;
  border: 1px solid @brands-color;
  .d-inline;
  .position(relative);
  background-size: auto;
  box-sizing: border-box;
  background-origin: padding-box;
  height: 350px;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 1;
  .c-pointer;
  background-color: white;
  .basic-transition;
  opacity: 1;
  @media @small {
    .w-calc(33.333%, 22px);
  }
  @media @medium {
    .w-calc(25%, 22px);
  }


  &:hover .one-car-img {
    height: 110px;
    width: 60%;
    background-color: red;
  }
  &:hover h3 {
    margin-bottom: 35px;
  }


}
.one_car_hidden {
  opacity: 0;
  .custom-transition(0.3s all ease);
}
#span_sep {
  height: 24px;
  .position(relative, @top: 3px);
}

.one-car-price {
  .d-block;
  margin-bottom: 10px;
  margin-left: 10px;
  span {
    background-color: darken(red, 10%);
    font-size: 24px;
    color: white;
    padding: 10px;
    border-radius: 10px 0 10px 0;
  }
}
.one-car-img {
  .w(100%);
  height: 150px;
  background-image: url("../../../assets/images/maxresdefault.jpg");
  background-size: cover;
  background-position: center center;
  .basic-transition;
  margin: 0 auto;

}
.one-car-right-side-wrapper {
  .d-inline;
  vertical-align: top;
  .w(100%);
  h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 15px 0 45px 10px;
    word-wrap: break-word;
    max-width:100%;
    .basic-transition;
  }

}
.fa-angle-double-right {
  margin: 0 5px;
  font-size: 8px;
}

::ng-deep .sliderHilight {
  background-color: @brands-color !important;
  z-index: 10 !important;
  //height: 6px !important;
}
::ng-deep .dsliderClass {
  .w(12px) !important;
  height: 12px !important;
  border-radius: 50%;
  border: none !important;
  z-index: 10 !important;
  background-color: @brands-color !important;
  cursor: ew-resize !important;
  &:active {
    cursor: ew-resize !important;
  }

}

::ng-deep .dbarClass {
  height: 5px !important;
  .w(80%) !important;
  margin-left: 10% !important;
  z-index: 10 !important;
  span {
    .d-none !important;
  }
}

.fa-chevron-right {
  margin-left: 5px;
}
.left_form_field {
  .relative;
  h3 {
    .d-inline;
    margin: 0;
  }
  .slider_span {
    .absolute;
    top: 0;
    right: 10px;
  }
  mat-form-field {
    margin-top: 10px;
    background-color: whitesmoke;

  }
}


mat-form-field {
  display: block;
  .w(80%);
  margin: 0 auto;

}
#advertising_left_search {
  .w(80%);
  margin: 30px auto;
  color: white;
  background-color: @brands-color;
  height: 400px;
}
#show_more {
  height: 40px;
  .w(100%);
  .center-text;
  span {
    .d-block;
    font-size: 14px;
    opacity: 0.7;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  button {
  }
}
.one_car_absolute {
  .position(absolute, @top: 0, @left: 0);
  height: 348px;
  .w(100%);
  //background-attachment: scroll;
  z-index: 1 !important;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto;
  background-color: white;
  overflow: hidden;
  .basic-transition;
}
#small_vat {
  font-size: 13px;
  opacity: .7;
}
#car_state {
  background-color: @brands-color;
  color: white;
  padding: 3px 5px;
}
#filter_btn_wrapper {
  margin-top: 30px;
  .w(100%);
  display: flex;
  justify-content: space-evenly;
}
#show_btn {
  margin-left: 20px;
}
#sortby_wrapper {

  padding-bottom: 10px;
  .d-flex;
  align-items: center;
  justify-content: space-between;

}
.hidden_filter_top {
  .d-flex;
  justify-content: space-between;
  .w(96%);
  margin: 0 auto;
  align-items: center;
  span {
    text-decoration: underline;
    .c-pointer;
    &:hover {
      text-decoration: none;
      opacity: .7;
    }
  }
}
.colorbrands {
  color: @brands-color;
}




