<div class="big-container">
  <div class="smaller-container">


  <div class="one-car" *ngFor="let car of cars$ | async" (click)="gotoDetails(car)">
   <div class="one-car-img">
     <img src="">
   </div>
    <div class="one-car-right-side-wrapper">
      <h4>{{car.mark}}&nbsp;{{car.model}}&nbsp;{{car.year}}</h4>
      <span>{{car.category}}<i class="fas fa-angle-double-right"></i>{{car.model}}</span>
    </div>
    <div class="one-car-price">
      <span>{{car.price}}</span>
    </div>
  </div>

  </div>
</div>


<!-- I have to change it-->
