@import "../../assets/styles/global";




            //First Section
          .first-section {
            .w-100;
            background-image: url("../../assets/images/4GkLBU.jpeg");
            position: relative;
            padding: 110px 0 100px;
            margin-top: -50px;
            background-size: cover;
            background-position: center center;
            @media @medium {
              height: 500px;
            }
            @media @large {
              padding: 120px 0 110px;
            }
            &:after {
              content: '';
              .absolute;
              .w(100%);
              height: 100%;
              background-color: rgba(36,36,36,0.3);
              left: 0;
              top: 0;
              z-index: 1;
            }
          }

#about_section {
  background-color: @main-color;
  .relative;
  &:after {
   .afterStartAdd;
  }
  @media @medium {
    padding: 70px 0 90px;
  }
  .main_header_wrapper {
    &:before {
      border-color: @bg-color;
    }
    .main_header {
      background-color: @main-color;
      color: @bg-color;

    }
  }
}
#types_section {
  padding: 70px 0 30px;
}
.top_wrapper {
  .relative;
  z-index: 2;
}
.left_big {
  .w-calc(90%, 4px);
  margin: 0 auto;
  background-color: @bg-color;
  border: solid 2px @main-color;
  @media @medium {
    .w(40%);
    .absolute;
    left: 40px;
    top: 40px;
  }
}
.right_big {
  //background-image: url("../../assets/images/4GkLBU.jpeg");
  height: 200px;
  background-size: cover;
  background-position: center center;
}
#findyourdreamcar {

  h2 {
    .relative;
    top: 20%;
    font-size: 1.8rem;
    color: @main-color;
    transform: rotate(-30deg);
    font-weight: bold;
  }
}
.main_header_wrapper {
  .w-calc(100%, 20px);
  .relative;
  margin-bottom: 40px;
    &:before {
      .headers_line(100%);
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
}
.main_header {
  font-size: 1.8rem;
  color: @main-color;
  font-weight: bold;
  background-color: white;
  margin-left: 60px;
  padding: 0 10px;
  .relative;
  font-family: 'Open Sans', sans-serif;
  z-index: 4;
  .w(auto);


}
.header_separator {
  height: 3px;
  .w(100px);
  background-color: @main-color;
}
.one_type {
  .d-inline;
  .w-calc(50%, 10px);
  margin-left: 10px;
  margin-top: 20px;
  height: 200px;
  .c-pointer;
  .center-text;
  img {
    .w(90%);
    height: auto;
    .relative;
    top: 50%;
    transform: translateY(-50%);
  }
  h3 {
    .w(100px);
    margin: 0 auto;
    color: @main-color;
  }
  &:nth-child(n + 8) {
    .d-none;
    @media @medium {
      .d-inline;
    }
  }


  @media @medium {
    .w-calc(25%, 10px);
  }
  &:hover h3 {
    border-bottom: solid 3px @sec-color;
  }
  &:hover img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);

  }

}
.custom_btn_wrapper {
  padding: 20px 0;
  .w(100%);
  .center-text;
  button {
    .w(250px);
  }
}
section {
  padding: 30px 0;
  background-color: @bg-color;
}
.type_img {
  height: 170px;
  .w(100%);
}
.random_car {
  .w-calc(10%, 14px);
  float: left;
  height: 260px;
  margin: 0 7px;
  .c-pointer;
  .custom-transition(0.3s all ease);
  @media @medium {
    height: 300px;
  }
  &:hover {
   background-color: @main-color;
  }
  &:hover .random_car_details div {
    color: white;
  }
}
.random_car_price {
  text-align: right;
}
.random_car_img {
  height: 140px;
  .w(100%);
  background-size: cover;
  background-position: center center;
  @media @medium {
    height: 180px;
  }
}
#right-chev {
  right: 0;
}
#left_chev {
  left: 0;
}
.random_car_span {
  .d-block;
  color: @sec-color;
  font-size: 1.1rem;
  font-weight: bold;
  .custom-transition(0.3s all ease);
}
.random_car_details {
  padding: 30px 10px 10px 10px;
}
#main_figure {
.w(500%);
  height: 300px;
  margin: 0;
  .relative;
  left: 0;
  .custom-transition(0.3s all ease);
  @media @medium {
    .w(250%);
  }
}
#random_btn_wrapper {
  .w(100%);
  .center-text;
  .d-block;
  margin: 20px 0;

  padding: 20px;
}
#figure_wrapper {
  .w(100%);
  overflow: hidden;
  .relative;
}
.random_car_chevron {
  .absolute;
  background-color: @main-color;
  color: white;
  padding: 15px;
  border-radius: 50%;
  .c-pointer;
  top: 50%;
  z-index: 4;
  transform: translateY(-50%);
  .custom-transition(0.3s all ease);
  &:hover {
    background-color: @sec-color;
    color: @main-color;
  }
}










                      //Cars lists
#first-one {
  .c-pointer;
}





                    #third_section {
                      background-color: @main-color;
                      padding: 100px 0;
                    }







.btn-sec-section {
  .w(100%);
  text-align: center;
  .padding-top-bottom(10px, 0);
  @media @just-small {
    .padding-top-bottom(20px, 40px);
  }

  button {
    font-size: 20px;
    padding: 10px;
    margin: 30px 0 30px;
    border: solid 1px lightgray;
    background-color: white;
    border-radius: 2px;

    &:hover {
      .drop-shadow(@blur: 6px);
      color: @hover-text-color;
      transition: .3s ease-in-out all;

    }
  }

}








.third-section-content {
.d-inline;
  .w(100%);
  .padding-top-bottom(20px, 20px);
  padding-left: 15px;
  @media @small {
    .w(calc(50% - 26px));
    padding-left: 25px;
  }

}



.small-content-left {
  .d-inline;
  padding: 0;
  .fa-3x {
    line-height: 30px !important;
  }
    ul {
      .list-style-none;
      .d-inline;
      line-height: 20px;
      padding: 0 10px;
              li {
              &:first-child {
                font-weight: 800;
              }
              &:last-child {
                font-size: 10px;
              }
              }
    }
}
#about_wrapper {

  @media @medium {
    .d-flex;
    justify-content: space-between;
  }

}
.about_content {
  .w(100%);
  border-right: 1px solid @main-color;
  .center-text;
  margin-top: 30px;
  color: @bg-color;
  @media @medium {
  .w(33%);
  }
  &:last-child {
    border: none;
  }
 h3 {
   text-transform: uppercase;
   color: @sec-color;
 }
  i {
    font-size: 50px;
    margin-bottom: 30px;
    border-radius: 50%;
    line-height: 100px;
    .w(100px);
    height: 100px;
    .box-shadow;
  }
  p {
    padding: 15px;
  }
}
.one_brand {
  .w-calc(50%, 10px);
  .d-inline;
  .center-text;
  margin-top: 15px;
  margin-right: 10px;
  .c-pointer;
  .custom-transition(0.3s all ease);
  @media @small {
    .w-calc(33.333%, 10px);
  }
  @media @medium {
    .w-calc(20%, 10px);
  }
  &:hover {
    filter: drop-shadow(6px 2px 2px gray);
  }
  &:nth-child(n + 8) {
    .d-none;
    @media @medium {
      .d-inline;
    }
  }
}
.brand_img {
  height: 70px;

  @media @medium {
    height: 90px;
  }
  img {
    height: 100%;
  }
}
#contact_section {
  background-image: url("../../assets/images/cars.jpg");
  background-position: center center;
  background-size: cover;
  padding: 50px 0;
  background-attachment: fixed;
  .relative;
  .main_header_wrapper {
    &:before {
     border: none;
    }
  }
  &:after {
    .absolute;
    content: '';
    left: 0;
    top: 0;
    background-color: rgba(36, 36, 36, 0.6);
    .w(100%);
    height: 100%;
  }
  .medium-container {
    z-index: 3;
  }
}
#left_contact {
  .w(100%);
  .d-inline;
  vertical-align: top;
  @media @medium {
    .w(50%);
  }
  mat-form-field {
    .d-block;
    .w(80%);
    padding: 0 10px;
    margin: 15px auto 0;
    background-color: @bg-color;
    .box-shadow;
  }
  h2 {
    color: white;
    .center-text;
    .w(200px);
    border-bottom: solid 2px @sec-color;
    margin: 30px auto;
  }
  form {
    .relative;
    padding-bottom: 40px;
    overflow: hidden;
  }
}

.hidden_message {
  .absolute;
  bottom: 0;
  left: 80%;
  .w(80%);
  height: 30px;
  color: white;
  opacity: 0;
  background-color: red;
  .center-text;
  line-height: 30px;
  border-radius: 3px;
}
.shown_message {
  left: 10%;
  opacity: 1;
  .custom-transition(0.4s all ease);
}
#right_contact {
  .w(80%);
  margin-left: 10%;
  .d-inline;
  @media @medium {
    .w(50%);
    margin-left: 0;
  }
  iframe {
    margin-top: 20px;
    .w(100%);
    height: 200px;
    margin-bottom: 40px;
    @media @small {
      .w(80%);
    }
    @media @medium {
      margin-bottom: 0;
    }
  }
}
#lefter_contact {
  color: white;
  h2 {
    color: @bg-color;
    background-color: @main-color;
    font-weight: bold;
    .w(80%);
    padding: 5px;
    .center-text;
    .box-shadow;
  }
  h3 {
    .d-inline;
    margin: 0;
    text-decoration: underline;
  }
  span {
    .d-block;
  }
}
#contact_header {
  font-size: 1.8rem;
  color: white;
  margin-left: 60px;
}






