

         <!-- First section with search engine -->
          <section class="first-section">

            <div class="medium-container">
              <div class="top_wrapper">
                <div class="left_big">
                  <app-search-engine></app-search-engine>
                </div>
                <div class="right_big w-100">
                  <div id="findyourdreamcar">
                    <h2>Let's find you dream car!</h2>
                  </div>
                </div>
              </div>
              </div>
          </section>
         <section>
           <div class="medium-container">
             <div class="main_header_wrapper">
               <span class="main_header">Why Auto-Center?</span>
             </div>
               <div id="about_wrapper">
                 <div class="about_content"><div>first</div>
                 <button mat-raised-button>Check</button> </div>
                 <div class="about_content"><div>sec</div>
                   <button mat-raised-button>Check</button> </div>
                 <div class="about_content"><div>3rd</div>
                   <button mat-raised-button>Check</button> </div>
               </div>

           </div>
         </section>

                        <!--Second Section -->
          <section class="second-section">
            <div class="medium-container">
              <div class="main_header_wrapper">
                <span class="main_header">Search by type</span>
              </div>
                <div *ngFor="let type of types" class="one_type" #alltypes (click)="filterbyTypes(type)">
                  <div class="type_img">
                    <img [src]="imgUrl + type + '.png'">
                  </div>
                  <h3>{{type}}</h3>
                </div>
                <div class="custom_btn_wrapper">
                  <button mat-raised-button class="main_btn hidden-md" (click)="showMoreTypes()" *ngIf="types_button">Show more</button>
                </div>

              </div>
          </section>
         <section>
           <div class="medium-container">
             <div class="main_header_wrapper">
               <span class="main_header">Search by brand</span>
             </div>
             <div>text</div>
           </div>
         </section>


         <section class="second-section">
           <div class="medium-container">
             <div class="main_header_wrapper">
               <span class="main_header">Promoted vehicles</span></div>
               <div id="figure_wrapper">
                   <i class="fas fa-chevron-left random_car_chevron" id="left_chev" *ngIf="leftchevron_vis" (click)="slideImg('-')"></i>
                   <i class="fas fa-chevron-right random_car_chevron" id="right-chev" *ngIf="rightchevron_vis" (click)="slideImg('+')"></i>

                 <figure id="main_figure" #main_figure>
                   <div class="random_car" *ngFor="let car of randomCars" (click)="goToDetails(car)">
                     <div class="random_car_img" [ngStyle]="{'background-image':' url(../../assets/images/maxresdefault.jpg)'}">
                     </div>
                     <div class="random_car_details">
                       <span class="random_car_span">{{car.year}} {{car.mark}}  {{car.model}}</span>
                       <div>{{car.course | number}} km</div>
                       <div class="random_car_price">
                         {{car.price | currency:'':''}} $
                       </div>
                     </div>
                   </div>
                 </figure>
               </div>

               <div class="custom_btn_wrapper">
                 <button mat-raised-button class="main_btn" (click)="goTopromotedCars()">
                   Show all promoted cars
                 </button>
               </div>
             </div>
         </section>

         <section>
           <div class="medium-container">
             <div class="main_header_wrapper">
               <span class="main_header">Contact</span>
             </div>
             <div>text</div>
           </div>
         </section>





        <!-- footer -->
<section class="footer">

 <app-footer></app-footer>



</section>
