
  <div class="backgrond-second-ground"></div>
         <!-- First section with search engine -->
          <section class="first-section">

            <div class="medium-container">


                <div class="left-search">
                 <app-search-engine></app-search-engine>
                </div>

                      <!-- Big Car-->

                <div class="big-cars">
                <div class="big-car-img" (click)="goToDetails(car)"></div>
                  <div class="main-car-info">
                    <span class="btn-main">Day offer</span>
                    <h4 class="big-car-name">Mazda Cx5 5 drzwiowa automat 260 km Nowa!</h4>
                    <h3 class="main-car-price">25000 PLN</h3>

                    <!-- <div class="line"></div> -->
                    <p class="car-year-info">2017 * 120.000 km </p>
                  </div>
                </div>





                        <!-- MID Cars-->
                <div class="mid-cars">
                  <div class="one-car-box">
                    <div class="one-car">
                      <img src="../../assets/images/maxresdefault.jpg" class="img-responsive">
                      <div class="car-detail">
                        <h4>Mazda</h4>
                        <span class="car-price">20 000 <sup>PLN</sup></span>
                        <div class="line"></div>
                        <span class="car-year">2017 * 25000</span>
                      </div>
                    </div>
                  </div>


                  <div class="one-car-box">
                    <div class="one-car">
                      <img src="../../assets/images/maxresdefault.jpg" class="img-responsive">
                      <div class="car-detail">
                        <h4>Mazda</h4>
                        <span class="car-price">20 000 <sup>PLN</sup></span>
                        <div class="line"></div>
                        <span class="car-year">2017 * 25000</span>
                      </div>
                    </div>
                  </div>
                  <div class="one-car-box">
                    <div class="one-car">
                      <img src="../../assets/images/maxresdefault.jpg" class="img-responsive">
                      <div class="car-detail">
                        <h4>Mazda</h4>
                        <span class="car-price">20 000 <sup>PLN</sup></span>
                        <div class="line"></div>
                        <span class="car-year">2017 * 25000</span>
                      </div>
                    </div>
                  </div>
                  <div class="one-car-box">
                  <div class="one-car">
                    <img src="../../assets/images/maxresdefault.jpg" class="img-responsive">
                    <div class="car-detail">
                      <h4>Mazda</h4>
                      <span class="car-price">20000 <sup>PLN</sup></span>
                      <div class="line"></div>
                      <span class="car-year">2017 * 25000</span>
                    </div>
                  </div>
                  </div>
                </div>



                            <!-- Small Cars-->
                <div class="small-cars">
                  <div class="small-car-box">
                    <div class="one-car">
                      <img src="../../assets/images/maxresdefault.jpg" class="img-responsive">
                      <div class="car-detail">
                        <h4>Mazda</h4>
                        <span class="car-price">20 000 <sup>PLN</sup></span>
                        <div class="line"></div>
                        <span class="car-year">2017 * 25000</span>
                      </div>
                    </div>
                  </div>
                  <div class="small-car-box">
                    <div class="one-car">
                      <img src="../../assets/images/maxresdefault.jpg" class="img-responsive">
                      <div class="car-detail">
                        <h4>Mazda</h4>
                        <span class="car-price">20 000 <sup>PLN</sup></span>
                        <div class="line"></div>
                        <span class="car-year">2017 * 25000</span>
                      </div>
                    </div>
                  </div>
                  <div class="small-car-box">
                    <div class="one-car">
                      <img src="../../assets/images/maxresdefault.jpg" class="img-responsive">
                      <div class="car-detail">
                        <h4>Mazda</h4>
                        <span class="car-price">20000 <sup>PLN</sup></span>
                        <div class="line"></div>
                        <span class="car-year">2017 * 25000</span>
                      </div>
                    </div>
                  </div>
                  <div class="small-car-box">
                    <div class="one-car">
                      <img src="../../assets/images/maxresdefault.jpg" class="img-responsive">
                      <div class="car-detail">
                        <h4>Mazda</h4>
                        <span class="car-price">20000 <sup>PLN</sup></span>
                        <div class="line"></div>
                        <span class="car-year">2017 * 25000</span>
                      </div>
                    </div>
                  </div>
                  <div class="small-car-box visible-md">
                    <div class="one-car">
                      <img src="../../assets/images/maxresdefault.jpg" class="img-responsive">
                      <div class="car-detail">
                        <h4>Mazda</h4>
                        <span class="car-price">20000 <sup>PLN</sup></span>
                        <div class="line"></div>
                        <span class="car-year">2017 * 25000</span>
                      </div>
                    </div>
                  </div>
                  <div class="small-car-box visible-md">
                    <div class="one-car">
                      <img src="../../assets/images/maxresdefault.jpg" class="img-responsive">
                      <div class="car-detail">
                        <h4>Mazda</h4>
                        <span class="car-price">20000 <sup>PLN</sup></span>
                        <div class="line"></div>
                        <span class="car-year">2017 * 25000</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>

                        <!--Second Section -->
          <section class="second-section">
            <div class="medium-container">
              <div class="btn-sec-section">
                <button class="btn-content">Show all of promoted adds</button> </div>
                    <!-- Advertising-->
              <div class="adds-row">
                <div class="add first-add">
                  <h5>Oglądaj ogloszenie niezależnie gdzie jestes</h5>
                  <h2>Zobacz nasze aplikacje mobilne</h2>
                  <button class="first-add-btn">Pobierz aplikacje</button>
                </div>
                <div class="add secound-add"></div>
                <div class="add third-add">
                  <h4>oto-moto + olx</h4>
                  <h2>Oferta 2 w 1</h2>
                  <div><img class="third-add-img" src="../../assets/images/fruit-juice-icon-png-18.png" alt="third add img">
                  </div>
                  <button>Dodaj ogłoszenie</button>
                </div>
              </div>

                        <div class="big-models-container">
                          <div class="models-row">
                            <h5>Najpopularniejsze marki samochodów:</h5>
                            <ul>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                            </ul>
                            <div class="line-brands"></div>
                          </div>
                          <div class="models-row">
                            <h5>Najpopularniejsze modele samochodów:</h5>
                            <ul>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li><li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                            </ul>
                            <div class="line-brands"></div>
                          </div>
                          <div class="models-row">
                            <h5>Najpopularniejsze marki motocykli:</h5>
                            <ul>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                            </ul>
                            <div class="line-brands"></div>

                          </div>
                          <div class="models-row">
                            <h5>Popularne modele z pierwszej pozycji</h5>
                            <ul>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li><li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                            </ul>
                            <div class="line-brands"></div>

                          </div>
                          <div class="models-row">
                            <h5>Popularne modele z drugiej pozycji</h5>
                            <ul>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                            </ul>
                            <div class="line-brands"></div>

                          </div>
                          <div class="models-row">
                            <h5>Popularne modele z trzeciej pozycji</h5>
                            <ul>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                            </ul>
                            <div class="line-brands"></div>

                          </div>
                          <div class="models-row">
                            <h5>Szukaj w miastach</h5>
                            <ul>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                              <li><a>volvo</a></li>
                            </ul>
                            <div class="line-brands"></div>

                          </div>
                          <div class="models-row">
                            <h5>Szukaj wg. województwa</h5>
                            <ul>
                              <li><a>Warminsko-Mazurskie</a></li>
                              <li><a>Warminsko-Mazurskie</a></li>
                              <li><a>Warminsko-Mazurskie</a></li>
                              <li><a>Warminsko-Mazurskie</a></li>
                              <li><a>Warminsko-Mazurskie</a></li>
                              <li><a>Warminsko-Mazurskie</a></li>
                            </ul>

                          </div>

                        </div>
              </div>
          </section>


        <section class="third-section white-bg">
          <div class="medium-container">

                                  <!--Left one -->
                          <div class="third-section-content" id="third-sec-left">
                           <h6>do u need a help?</h6>
                            <h4>Biuro obslugi</h4>
                            <div class="small-content-left"><i class="fas fa-mobile-alt fa-3x"></i>
                            <ul>
                              <li>+48 61 880 32 21</li>
                              <li>(OD PN. DO PT. W GODZ. 08:00 - 17:00)</li>
                            </ul></div>
                            <span>pomoc@wp.pl</span>
                          </div>

                              <!-- Right one-->
                            <div class="third-section-content" id="third-sec-right">
                              <div class="left-content-third">
                              <a>Oglądaj ogłoszenia niezależnie gdzie jesteś</a>
                              <h2>Zobacz nasze aplikacje mobilne<i class="fas fa-caret-right"></i></h2>
                              </div>
                              <div class="right-content-img">IMG</div>
                            </div>
            </div>
        </section>

        <!-- footer -->
<section class="footer">

 <app-footer></app-footer>



</section>
