

         <!-- First section with search engine -->
          <section class="first-section">

            <div class="medium-container">
              <div class="top_wrapper">
                <div class="left_big">
                  <app-search-engine></app-search-engine>
                </div>
                <div class="right_big w-100">
                  <div id="findyourdreamcar">
                    <h2>Let's find you dream car!</h2>
                  </div>
                </div>
              </div>
              </div>
          </section>

                        <!--Second Section -->
          <section class="second-section">
            <div class="medium-container">
              <div class="main_header_wrapper">
                <h2 class="main_header">Browse by Type</h2>
                <div *ngFor="let type of types" class="one_type">
                  <div class="type_img"></div>
                  <h3>{{type}}</h3>
                </div>
                <div class="custom_btn_wrapper">
                  <button mat-raised-button class="main_btn hidden-md">Show more</button>
                </div>

              </div>
            </div>
          </section>
         <section id="third_section">
           <div class="medium-container">
             <div class="main_header_wrapper">
               <h2 class="main_header">Popular Types</h2>
               <div>text</div>
             </div>
           </div>
         </section>


         <section class="second-section">
           <div class="medium-container">
             <div class="main_header_wrapper">
               <h2 class="main_header">Premium vehicles</h2>
               <div id="figure_wrapper">
                 <figure id="main_figure">
                   <div class="random_car" *ngFor="let car of randomCars">
                     <div class="random_car_img">

                     </div>
                     <span>{{car.year}} {{car.mark}}</span>
                     {{car.model}}
                   </div>
                 </figure>
               </div>

               <div class="custom_btn_wrapper">
                 <button mat-raised-button class="main_btn">
                   Show all promoted cars
                 </button>
               </div>
             </div>
           </div>
         </section>





        <!-- footer -->
<section class="footer">

 <app-footer></app-footer>



</section>
