@import "../../../assets/styles/global";


#adds-container {
  margin-top: 40px;

}
.adds-main-wrap {
  text-align: center;
}
.not-empty-table {
  .w(100%);

  tr {
    height: auto;
    .d-inline;
    .w-calc(50%, 14px);
    border: solid 2px black !important;
    margin: 5px;
    padding-bottom: 7px;
      @media @small {
        display: table-row;
        height: 140px;
        border: none;
        padding-bottom: 0;
      }
          &:first-of-type {
            .d-none;
              @media @small {
                display: table-row;
              }
          }

    td {
      .d-block;
      .w(100%);
      @media @small {
        display: table-cell;
        .w(auto);
      }
      &:last-of-type {
        margin-top: 20px;
        @media @small {
          margin-top: 0;
          .w(20%);
          border: solid 1px lightgray;
        }
      }
    }
  }
}
th {
  .position(relative);
  .c-pointer;
  i {
    margin-left: 10px;
    .position(absolute, @top: 50%);
    transform: translateY(-50%);
  }
}
#smallest_one {
  .w(10%);
  .position(relative);

}
.car_p {
  font-size: 85%;
  opacity: .8;
}

#img_th {
  .w(200px);

}
#resp_img {
  height: 160px;
  .w(auto);
}
#detail-a {
  .c-pointer;
  &:hover {
    color: @brands-color;
    border-bottom: @brands-color solid 1px;
    //transition: .2s ease all;
  }
}



#delete_car {
  background-color: red;
  padding: 6px;
  color: white;
  margin-left: 10px;
}
#edit_car {
  &:hover {
    color: @brands-color;
  }
}

#choice-add-category {
  .w(33.333%);
  .list-style-none;
      li {
       .d-inline;
        .w(50%);
        .center-text;
        .c-pointer;
        font-size: 18px;
        .padding-top-bottom(9px, 9px);
      }
}
.active {
  background-color: lighten(lightblue, 10%);
}
.search-adds {
 .w(100%);
  margin: 60px auto 0;
}
#span_page_amount {
  margin-left: 10px;
  font-size: 85%;
}


#search-field {
  margin-left: 20px;
  position: relative;
}
#icon-wrapper {
  background-color: lightblue;
  position: absolute;
  padding: 0 5px;
  transform: translateX(-100%);
  border-left: 1px solid @hover-text-color;
}

#form-search {
  .d-inline;
}
.amount-span {
  margin-left: 10px;
}
.empty-amount {
  margin-top: 50px;
  padding-bottom: 70px;
  .center-text;
  h3 {
    margin: 30px 0 !important;
  }
}
.add-btn-red {
  background-color: lighten(red, 10%);
  padding: 10px 5px;
  color: white;
  box-shadow: 2px 2px 2px #888888;
  i {
    margin-right: 5px;
  }
}
.currentwrapper {
  .empty-amount;
}
.recentwrapper {
  .empty-amount;
}
#btn_delete_all {
  margin-left: 15px;
  background-color: @brands-color;
  font-size: 16px;
  color: white;
  padding: 8px;
}
#page_amount {
  margin-left: 5px;
  width: 80px;
}
