<nav #nav class="fixed-navbar-top white-bg">
  <ul class="navi-ul">
    <li class="left-list"><a class="navi-link" (click)="sendOutput()" id="navi-bars"><i class="fas fa-bars"></i></a>
    </li>
    <li class="left-list" routerLink='/main'>
      <img src="" alt="logo">
    </li>
    <li class="right-list" *ngIf="bool"><a class="singouticon" (click)="singOut()"><i class="fas fa-sign-out-alt"></i></a></li>
    <li class="right-list add" routerLink="/offers/new"><a class="navi-link"><i class="fas fa-plus"></i>dodaj ogloszenie</a> </li>
    <li class="right-list my-account visible-sm" routerLink='/login'><a><i class="fas fa-address-book"></i>moje konto</a></li>
  </ul>
</nav>

