@import "../../../assets/styles/global";

          //navi
                        .fixed-navbar-top {
                          //.fixed-full-top;
                          .position(fixed, @top: 0);
                          height: 50px;
                          .w-100;
                          z-index: 40 !important;
                        }
.navi-ul {
  height: 100%;
  margin: 0;
  padding: 0 10px;

}
      li {
        .list-style-none;
        .position(relative, @top: 50%);
        transform: translateY(-50%);
        margin: 0 5px;
        .navi-link {
          .c-pointer;
        }
      }
      .my-account {
        //.bg-trans;
        &:hover {
        }
      }
      i {
        margin-right: 5px;
      }


.fa-bars {
  &:hover {
    color: @hover-text-color;
  }
@media @small {
  .d-none;
}

}

.btn-nav {
background-color: #4c8bf5}
.right-list {
  .float-right;
  padding: 10px;
}
.left-list {
.float-left;
  .c-pointer;
  padding: 10px;
  border-radius: 3px;
}
.add {
  background-color: blue;
  color: white;
}

.close {
  .d-inline;
  border: none;
  background-color: transparent;
}
.singouticon {
  color: red;
  i {
    font-size: 32px;
  }

}

