@import "../../../assets/styles/global";

          //navi
                        .fixed-navbar-top {
                          .fixed-full-top;
                          height: 50px;
                          z-index: 40 !important;
                        }
.navi-ul {
  height: 100%;
  margin: 0;
  padding: 0 10px;
}
      li {
        .list-style-none;
        .position(relative, @top: 50%);
        transform: translateY(-50%);
        background-color: blue;
        margin: 0 5px;
      }
      .my-account {
        background-color: transparent;
      }
      i {
        margin-right: 5px;
      }

.right-list {
  .float-right;
  padding: 10px;
}
.left-list {
  .d-inline;
  background-color: blue;
  border-radius: 3px;
}

