@import "../../../assets/styles/global";

          //navi
                        .fixed-navbar-top {
                          //.fixed-full-top;
                          .position(fixed, @top: 0);
                          height: 80px;
                          background-color: @main-color;
                          .w-100;
                          z-index: 99 !important;
                        }
#navi-bars {
  color: @bg-color;
}
.navi-ul {
  height: 100%;
  margin: 0;
  padding: 0 10px;
  @media @small {
    .d-inline;
  }

}
      li {
        .list-style-none;
        .position(relative, @top: 50%);
        transform: translateY(-50%);
        margin: 0 5px;
        outline: 0;
        i {
          .custom-transition(0.2s all ease);
        }
        .navi-link {
          .c-pointer;
        }
      }
      .my-account {
        //.bg-trans;
        &:hover {
        }
      }
      i {
        margin-right: 5px;
      }


.fa-bars {
@media @small {
  .d-none;
}

}

.btn-nav {
background-color: #4c8bf5}
.right-list {
  .float-right;
  padding: 10px;
  i {
    line-height: 40px;
    font-size: 30px;
    color: @sec-color;
    font-weight: 900;
    &:hover {
      border-bottom: solid 2px white;
    }
  }
  .fa-search {
    .relative;
    z-index: 10;

  }

}
.left-list {
.float-left;
  .c-pointer;
  padding: 10px;
  border-radius: 3px;
}
#logo {
  img {
    height: 60px;
    .w(auto);
    .d-inline;
    filter: invert(66%) sepia(96%) saturate(3063%) hue-rotate(348deg) brightness(100%) contrast(93%);
  }
  div {
    .d-inline;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 10px;
    span {
      .d-block;
      &:first-child {
        font-size: 1.3rem;
        color: @bg-color;
        .font-bold;
        @media @medium {
          font-size: 1.6rem;
        }
      }
      &:last-child {
        font-size: 0.9rem;
        color: @sec-color;
        @media @medium {
          font-size: 1rem;
        }
      }
    }
  }
}
.add {
  background-color: @brands-color;
  color: white;
}

.close {
  .d-inline;
  border: none;
  background-color: transparent;
}
.singouticon {
  color: red;

}
#logo_img {
  height: 60px;
  .w(auto);
  outline: 0;
}
input {
  border: none;
  .absolute;
  top: 50%;
  right: 15px;
  padding: 0 10px;
  font-size: 1rem;
  height: 40px;
  .w(220px);
  transform: translateY(-50%);
  outline: 0;
  .drop-shadow();
}

/*
#hidden_search {
  .w(200px);
  overflow: hidden;
  height: 40px;

} */
.hidden_search_ul {
  .list-style-none;
  .absolute;
  bottom: 0;
  right: 15px;
  background-color: @bg-color;
  transform: translateY(calc(100% - 10px));
  .w(240px);
  overflow-y: auto;
  max-height: 150px;
                  //For every car
              div {
                  height: 50px;
                line-height: 50px;
                padding: 5px;
                .d-flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: solid 1px lightgray;
                .c-pointer;
                .custom-transition(0.3s all ease);
                &:hover {
                  background-color: lighten(lightgray, 5%);
                }
                img {
                  height: 40px;
                  .w(auto);
                }
              }
}
