<nav #nav class="fixed-navbar-top white-bg">
  <ul class="navi-ul">
    <li class="left-list"><a class="navi-link" (click)="sendOutput()" id="navi-bars"><i class="fas fa-bars"></i></a>
    </li>
    <li class="left-list" routerLink='/main' id="logo">
     <!-- <img src="../../../assets/images/logo2.png" alt="logo" id="logo_img"> -->
      <img src="../../../assets/images/LogoWheel.png">
      <div>
        <span>Auto-Center</span>
              <span>Driving to the future</span>          <!-- <i class="far fa-plus-square"></i>   <i class="far fa-user"></i>  -->
      </div>
    </li>

    <li class="right-list" *ngIf="bool" (click)="singOut()"><a class="singouticon" ><i class="fas fa-sign-out-alt"></i></a></li>
   <li class="right-list visible-sm" routerLink="/offers/new"><a class="a_link">Add Car</a> </li>
    <li class="right-list visible-sm" (click)="LoginorMyAccount()"><a class="a_link">Login</a></li>
    <li class="right-list visible-sm relative"><a id="show_search_icon" class="a_link">Search<i class="fas fa-chevron-down"></i></a>
      <div id="hidden_div">
        <input type="text" [(ngModel)]="inputvalue" (ngModelChange)="checkSearch($event)" placeholder="Search..." [@width]>
        <div class="hidden_search_ul">
          <div *ngFor="let car of cars | search: searches" class="searches_car" (click)="navigatetoCar(car)">
            <img src="../../../assets/images/maxresdefault.jpg">
            <div id="hiddern_search_names">
              <div>{{car.mark}}</div>
              <div>{{car.model}}</div>
            </div>
            <div id="price_search">
              {{car.price}}$
            </div>

          </div>
        </div>
      </div>

    </li>
    <li class="right-list visible-sm" routerLink='/main'><a class="a_link">Home</a></li>

    <!--
      <li class="right-list visible-sm nopadding"><div id="hidden_search" *ngIf="visibleSearch" [@width]>
      <input type="text" [(ngModel)]="inputvalue" (ngModelChange)="checkSearch($event)" placeholder="Search...">
        <div class="hidden_search_ul">
          <div *ngFor="let car of cars | search: searches">
            <img src="../../../assets/images/maxresdefault.jpg">
            <span>{{car.mark}} {{car.model}}</span>
          </div>
        </div>
    </div>
    </li>
    -->
  </ul>
</nav>

