@import "../../../assets/styles/global";


          //Angular Materials
::ng-deep .mat-tooltip {
  font-weight: bold;
  font-size: 13px;
  color: rgba(black, 0.5) !important;
  border: none;
  background-color: transparent;
}
#footer_container {
  background-color: @main-color;
  height: 200px;
  .relative;
  @media @medium {
    height: 250px;
  }
  .medium-container {
    position: static;
  }


}

#footer_left {
  .w(100%);
  .d-inline;
  @media @medium {
    .w(50%);
  }
  img {
    .d-inline;
    height: 50px;
    .w(auto);
    filter: invert(66%) sepia(96%) saturate(3063%) hue-rotate(348deg) brightness(100%) contrast(93%);
    @media @medium {
      height: 100px;
    }
  }
  div {
    .d-inline;
    vertical-align: top;
    margin-left: 10px;
    @media @medium {
      margin-top: 10px;
    }
    h2 {
      font-size: 1.4rem;
      color: @bg-color;
      margin: 5px;
      .font-bold;
      @media @medium {
        font-size: 2.2rem;
      }
    }
    span {
      font-size: 1rem;
      color: @sec-color !important;
      @media @medium {
        font-size: 1.3rem;
      }
    }
  }
}
#footer_right {
  .w(100%);
  .center-text;
  margin-top: 15px;
  .d-inline;
  @media @medium {
    .w(50%);
    text-align: right;
    margin-top: 0;
  }
}
#footer_bottom {
  .center-text;
  .w-100;
  .absolute;
  bottom: 30px;
  left: 0;
  color: @sec-color;
  opacity: .7;
  font-size: .8rem;
  @media @medium {
    font-size: 1rem;
  }
}
#footer_icons_wrapper {
  span {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: @sec-color;
    .d-inline;
    vertical-align: middle;
    .center-text;
    .box-shadow;
    .custom-transition(0.3s all ease);
    .c-pointer;
    @media @medium {
      height: 50px;
      width: 50px;
    }
    &:hover {
      background-color: @bg-color;
    }
    &:hover i {
      color: @main-color;
    }

    i {
      .relative;
      .custom-transition(0.3s all ease);
      top: 50%;
      transform: translateY(-50%);
      color: @bg-color;
      font-size: 20px;
      @media @medium {
        font-size: 30px;
      }

    }
  }
}
