
        <!-- Blue container-->
      <div class="blue-container">
          <span class="span-blue">Jesteś klientem profesjonalnym?</span>
            <a class="btn btn-blue"><span>Załóż konto firmowe</span></a>
        </div>

        <!-- Next section with medium container (global.less) -->
<div class="medium-container">
    <div class="find-us white-bg">
      <h4>Let's find us</h4>
      <a><i class="fa fa-ambulance"></i> Facebook</a>
      <a><i class="fa fa-ambulance"></i> Facebook</a>
      <a><i class="fa fa-ambulance"></i> Facebook</a>
    </div>
    <div class="center-info">
                  <div class="auto-center">
                    <h4>Auto-Center</h4>
                    <ul>
                      <li><a>Pomoc</a></li>
                      <li><a>Pomoc</a></li>
                      <li><a>Pomoc</a></li>
                      <li><a>Pomoc</a></li>
                      <li><a>Pomoc</a></li>
                      <li><a>Pomoc</a></li>
                      <li><a>Pomoc</a></li>
                      <li><a>Pomoc</a></li>
                      <li><a>Pomoc</a></li>
                      <li>
                        <a class="drop">Pomoc<i class="fas fa-sort-down"></i></a>
                        <ul class="hide">
                          <li><a>wp.pl</a></li>
                          <li><a>wp.pl</a></li>
                          <li><a>wp.pl</a></li>
                          <li><a>wp.pl</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>

                <div class="services">
                  <h4>Services and tools</h4>
                  <ul>
                    <li><a>Umowa kupna sprzedaży</a></li>
                  </ul>
                </div>
                <div class="Useful-info visible-sm">
                 <h4>Useful informations</h4>
                  <ul>
                    <li><a>Cennik dla Klientów Biznesowych</a></li>
                    <li><a>Cennik dla Klientów Bizowych</a></li>
                    <li><a>Cennik dla Klientów Biznesowych</a></li>
                    <li><a>Cennik dla Klientów Biznesowych</a></li>
                    <li><a>Cennik dla Klientów Biznesowych</a></li>
                    <li><a>Cennik dla Klientów Biznesowych</a></li>
                    <li><a>Cennik dla Klientów Biznesowych</a></li>
                    <li><a>Cennik dla Klientów Biznesowych</a></li>
                  </ul>
                </div>
    </div>
    <div class="footer-line"></div>
  <div class="mobile-apps">
    <h5>Najnowsze aplikacje w telefonie:</h5>
    <a mat-raised-button
       matTooltip="Google Play"
       aria-label="Button that displays a tooltip when focused or hovered over"><span><i class="fab fa-apple"></i></span></a>
    <a mat-raised-button
       matTooltip="AppStore"
       aria-label="Button that displays a tooltip when focused or hovered over"><span><i class="fab fa-google-play"></i></span></a>

  </div>

  </div>


