<div class="blue-container">
  <div class="row">
    <div class="left-blue">Left blue</div>
    <div class="right-blue">
      <button class="btn btn-blue">Make a firm account</button>
    </div>
  </div>
</div>
<div class="full-container">
  <div class="row">
    <div class="find-us">
      Find Us
    </div>
    <div class="center-info">
      Center Info
    </div>
    <div class="services">
      Services
    </div>
    <div class="Useful-info">
      UseFul info
    </div>
    <span class="line"></span>
  </div>
  <div class="mobile-apps">
    Android icon and IOS icon
  </div>
</div>
