<div id="footer_container">
  <div class="medium-container">
    <div id="footer_left">
      <img src="../../../assets/images/LogoWheel.png">
      <div>
        <h2>Auto-Center</h2>
        <span>Driving to the future</span>
      </div>

    </div>
    <div id="footer_right">
     <div id="footer_icons_wrapper">
       <span (click)="gotoTwitter()">
         <i class="fab fa-twitter"></i>
       </span>
       <span (click)="gotoFacebook()">
          <i class="fab fa-facebook-f"></i>
       </span>
      <span (click)="gotoInstagram()">
        <i class="fab fa-instagram"></i>
      </span>

    </div>
    <div id="footer_bottom">
      Copyright © 2019 Auto-Center Business, Poland
    </div>
  </div>


</div>
</div>
