<div class="big-new-offer-container">
  <mat-toolbar class="mytoolbar">


<div class="toolbar-inside">
  Dodawanie Ogłoszenia




</div>
  </mat-toolbar>   <!-- End Toolbar-->

  <div id="bottom-navi-fixed">
    <div class="smaller-container">
      <div class="left-side"> <a>Anuluj</a>


        <span>Liczba + Wypełnione pola</span>
        <button class="register-btn" id="add-car" [disabled]="form.invalid" (click)="createCar()">Dodaj Pojazd</button></div>
      <div class="right-side"></div>

    </div>
  </div>



  <div class="rest-section">
<div class="smaller-container">
  <div class="left-one">
  <h3>Twój pojazd</h3>

    <form [formGroup]="form">   <!--2nd form -->
      <div class="forms-inside">
      <div class="mywidth">
        <span>Marka pojazdu:</span><i class="fas fa-info-circle" id="1"></i>
      <mat-form-field>
        <mat-select formControlName="mark" (selectionChange)="checkmark()">
          <mat-option class="myoption" *ngFor="let mark of marks" [value]="mark">
            {{mark}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <div class="mywidth">
        <span>Model:</span><i class="fas fa-info-circle" id="2"></i>
        <mat-form-field>
          <mat-error>Model is required</mat-error>
          <mat-select formControlName="model">
            <mat-option *ngFor="let model of models" [value]="model">
              {{model}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

        <div class="mywidth">
          <span>Typ pojazdu:</span>
          <mat-form-field>
            <mat-error>Type is required</mat-error>
            <mat-select formControlName="type">
              <mat-option class="myoption" *ngFor="let type of types" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      <div class="mywidth">
        <span>Rok produkcji:</span><i class="fas fa-info-circle" id="3"></i>
        <mat-form-field>
          <mat-select formControlName="year">
            <mat-option class="myoption" *ngFor="let year of years" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mywidth">
        <span>Rodzaj Paliwa:</span><i class="fas fa-info-circle" id="4"></i>
        <mat-form-field>

          <mat-select formControlName="fuel">
            <mat-option class="myoption" *ngFor="let fuel of fuels" [value]="fuel">
              {{fuel}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mywidth">
        <span>Color:</span>
        <mat-form-field>

          <mat-error>Colour is required</mat-error>
          <mat-select formControlName="color">
            <mat-option class="myoption" *ngFor="let color of colors" [value]="color">
              {{color}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </div>
      <div class="forms-inside">
      <div class="mywidth width-50">
        <span>Skrzynia biegów:</span><i class="fas fa-info-circle" id="5"></i>
        <mat-radio-group aria-label="Select an option" formControlName="gearcase">
          <mat-radio-button class="radio-group" value="manualna" color="primary">Manualna</mat-radio-button>
          <mat-radio-button class="radio-group" value="automatyczna" color="primary">Automatyczna</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="mywidth width-50">
        <span>Stan:</span><i class="fas fa-info-circle" id="6"></i>
        <mat-radio-group aria-label="Select an option" formControlName="state">
          <mat-radio-button class="radio-group" value="nowy" color="primary">Nowy</mat-radio-button>
          <mat-radio-button class="radio-group" value="używany" color="primary">Używany</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="mywidth">
      <span>Moc (KM):</span><i class="fas fa-info-circle" id="7"></i>
      <mat-form-field [ngClass]="{'error_field': form.get('power').invalid}">
        <mat-error>Power should be more than 0</mat-error>
        <input type="number"  matInput name="value" placeholder="" formControlName="power">
      </mat-form-field>

      </div>
      <div class="mywidth">
        <span id="smaller-span">Pojemność skokowa (cm<sup>3</sup>):</span><i class="fas fa-info-circle" id="8"></i>
        <mat-form-field>
          <input type="number"  matInput name="value" placeholder="" formControlName="engine_capacity">
        </mat-form-field>
      </div>
      <div class="mywidth">
        <span>Przebieg:</span>
        <mat-form-field>
          <mat-error>Course should be more than 0</mat-error>
          <input type="number"  formControlName="course" matInput name="value" placeholder="">
        </mat-form-field>
      </div>
      </div>
      <div class="forms-inside">
      <div class="mywidth" id="price">
        <span>Cena:</span>
        <mat-form-field>
          <input type="number"  matInput name="value" placeholder="" formControlName="price">
          <mat-error>Maximum price is 999999 PLN</mat-error>
        </mat-form-field>
      </div>
        <span>PLN</span>



      <div class="check-vat">
      <mat-checkbox color="primary" formControlName="vat">Cena z Vat (+23%)</mat-checkbox></div>
      <div class="add-photo-cont">
        <div class="small-add-photo">
          <input #addMainInput hidden="true" type="file" onclick="this.value=null" accept=".png" (change)="addMainPhoto($event)"/>
          <a (click)="addMainInput.click()" id="add-img-main"><i class="fas fa-camera"></i>Dodaj główne zdjęcie</a>
        </div>
        <div class="small-add-photo">
          <input #csvInput hidden="true" multiple type="file"  onclick="this.value=null" (change)="csvInputChange($event)" accept=".png"/>
          <a (click)="csvInput.click()" id="add-img"><i class="fas fa-camera"></i>Dodaj pozostałe zdjęcia</a>
        </div>
        <div class="small-img" *ngFor="let img of selectedFiles; index as index">
          <img [src]="url[index]">
        </div>

      </div>



        <div class="mywidth" id="description">
        <span>Opis oferty:</span>
        <mat-form-field>
          <input type="text"  matInput name="value" placeholder="" #descriptionInput formControlName="description">
          <mat-hint align="end">{{descriptionInput.value.length}} / 170</mat-hint>
          <mat-error *ngIf="form.get('description').hasError('minlength')">Minimum length is 30 chars</mat-error>
          <mat-error *ngIf="form.get('description').hasError('maxlength')">Maximum length is 170 chars</mat-error>
        </mat-form-field>
      </div>
        <div class="check-vat">
          <mat-checkbox color="primary" formControlName="premium">Ogłoszenie wyróżnione (+ 40PLN)</mat-checkbox></div>
      </div>
    <div class="forms-inside" id="forms-inside-withoutPadding">
      <div class=" small-width-50">
      <span>Imie:</span>
        <input type="text" value="Client_name" class="client-inputs">
      </div>
      <div class=" small-width-50">
        <span>email:</span>
        <input type="text" value="pawel@wp.pl" class="client-inputs">
      </div>
      <div class=" small-width-50">
        <span>Tel:</span>
        <input type="text" value="+48500600700" class="client-inputs">
      </div>
      <div class="small-width-50">
        <span>Lokalizacja:</span>
        <input type="text" value="Gdańsk" class="client-inputs">
      </div>
    </div>
      <div id="bottom-checkbox">
      <mat-checkbox color="primary" formControlName="bottom_checkbox"></mat-checkbox>
        <span>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</span>
      </div>
    </form>

    <img src="https://firebasestorage.googleapis.com/v0/b/cars-bf4a0.appspot.com/o/img%2FZrzut%20ekranu%202019-08-27%20o%2021.19.40.png?alt=media&token=f2100144-c650-4e68-aebd-7a0651e69a06">
  </div>

  <div class="right-container">
    <div class="office-info-big">
      <span class="cirlce-span"><i class="fas fa-mobile-alt"></i></span>
      <span>Potrzebujesz pomocy?</span>
      <h3>Biuro Auto-Center</h3>
      <h4>+48500600700</h4>
      <span>(od pon. do pt. w godz. 6:00 - 21:00 </span>
      <h4>pomoc@autocenter.pl</h4>
    </div>
    <div class="dynamic-info" *ngIf="dynamic_info" [@openClose]>
      <button type="button" class="close" aria-label="Close" (click)="closeInfo()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3>{{oneinfodb.header}}</h3>
      <div>{{oneinfodb.content}}</div>

    </div>
    <pre>{{form.value | json}}</pre>

  </div>
</div>
  </div>




