
<div class="big-cont">
<div #insideElement class="left-navi" [ngClass]="{'left-navi2': shownnaviboolean}"><app-left-navis></app-left-navis></div>

<div class="both-ones" [ngClass]="{'both-opa' : shownnaviboolean}">
  <div class="just-navi" [ngClass]="{'navi-after': shownnaviboolean}">
<app-navigation [cars]="allcars"></app-navigation>
  </div>
  <!--<app-start (click)="Hideleftnavi($event)"></app-start> -->
  <div class="router" (click)="Hideleftnavi($event)">
    <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </div>
</div>

</div>



