@import "../../../assets/styles/global";

.modal-wrapper {
  text-align: center;
  .position(relative);
}
.fa-times {
  .position(absolute, @top: 10px, @right: 10px);
  z-index: 10 !important;
  color: black;
}
h2, p {
  text-align: center;
  .w(100%);
}
p {
  font-size: 85%;
  color: #b3bead;
}
div#divspans {
text-align: center;
  span {
    margin-left: 5px;
    color: @brands-color;
  }
}
#delete_btn {
  background-color: red;
  color: white;
  padding: 10px 0;
}
.register-btns {
.w(50%);
  margin: 0 !important;
  .font-bold;
}
#both_btns {
  .w(100%);
  background-color: tan;
  text-align: left;
  margin-top: 15px;
}
#cancel_btn {
  background-color: @brands-color;
  color: white;

  padding: 10px 0;
}

