<div class="login-container white-bg">
  <div class="row">
    <div class="left-form">
      <form action="">
        <div class="login-form-field">
          <span>Login:</span>
          <input type="text">
        </div>
        <div class="login-form-field">
          <span>Password:</span>
          <input type="password">
        </div>

              <!-- shown when login success -->
        <span ngIf="">Login success</span>

      </form>
    </div>
    <div class="right-add">
      Right Add
    </div>
  </div>
</div>
