@import "../../assets/styles/global";


#myacc-ul {
  .list-style-none;

}
.routers {
  .relative !important;
}

#myacc-ul li {
  .d-inline;
  .w(33.333%);
  .center-text;
  .padding-top-bottom(13px, 13px);
  font-size: 20px;
}
.active {
  background-color: #4c8bf5;
  color: white;
  box-shadow: 2px 5px 5px #888888;
}
.my-accont-container {
  .relative;
}
.footerone {

}
