<div class="my-accont-container">
  <div class="medium-container">
    <div class="my-account-hello">
      <span>Witaj NAZWA UZYTKOWNIKA!!</span>
    </div>
    <div class="add-wrapper">
      <h2>Moje Ogłoszenia</h2>
      <ul id="myacc-ul">
        <li class="active">Ogłoszenia</li>
        <li>Wiadomości</li>
        <li>Ustawienia</li>
      </ul>
    </div>
  </div>
  <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</div>
<!-- footer -->
