<div class="main-form">
  <form>
    <!-- Radio Buttons-->
    <div class="Form-engine">



      <div class="change-width">
        <span>Marka i Model:</span>
        <mat-form-field class="auto_field">
          <input type="text" aria-label="Number" matInput [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option class="myoption" *ngFor="let option of filteredOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="auto_field">
          <input type="text"   aria-label="Number" matInput [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option class="myoption" *ngFor="let option of filteredOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="change-width">
        <span>Cena:</span>
        <mat-form-field class="auto_field">
          <input type="number"   aria-label="Number" matInput [matAutocomplete]="auto" name="Od" placeholder="Od:">
          <span class="spanAbs">zl</span>
        </mat-form-field>

        <mat-form-field class="auto_field">
          <input type="number"   aria-label="Number" matInput [matAutocomplete]="auto" placeholder="Do:">
        </mat-form-field>
      </div>
      <div class="change-width">
        <span>Rok Produkcji:</span>
        <mat-form-field class="auto_field">
          <input type="number"   aria-label="Number" matInput [matAutocomplete]="auto" placeholder="Od:">
          <span class="spanAbs">r</span>
        </mat-form-field>
        <mat-form-field class="auto_field">
          <input type="number"   aria-label="Number" matInput [matAutocomplete]="auto" placeholder="Do:">
          <span class="spanAbs">r</span>
        </mat-form-field>
      </div>
      <div class="change-width">
        <span>Przebieg:</span>
        <mat-form-field class="auto_field">
          <input type="number"   aria-label="Number" matInput [matAutocomplete]="auto" placeholder="Od:">
          <span class="spanAbs">km</span>
        </mat-form-field>
        <mat-form-field class="auto_field">
          <input type="number"   aria-label="Number" matInput [matAutocomplete]="auto" placeholder="Do:">
          <span class="spanAbs">km</span>
        </mat-form-field>
      </div>
    </div>
    <!-- Search button-->

    <div class="bottom-form">
      <p>Wyszukiwanie</p>
      <button mat-raised-button color="primary"><i class="fas fa-search"></i>Wyszukaj</button>
    </div>
  </form>
</div>
