<div class="detail-navi-container">
                  <!-- Top hidden on the small screens-->
            <div class="more-info-container">
                   <ul class="more-info-list">
                     <li (click)="scrolltoDetails()"><i class="fas fa-check-circle"></i>Details</li>
                     <li (click)="scrolltoDescription()"><i class="fas fa-list"></i>Description</li>
                   </ul>
            </div>

  <div class="medium-container">
    <div class="model-name">
      <h1 class="model-header">{{car.shortdescription}} Lols</h1>
    </div>
    <div class="filter-container visible-sm">
      <ul class="filter-list">
        <li class="s">Offers<i class="fas fa-angle-right"></i></li>
        <li>{{car.type}}<i class="fas fa-angle-right"></i></li>
        <li>{{car.mark}}<i class="fas fa-angle-right"></i></li>
        <li>{{car.model}}</li>
      </ul>

    </div>

</div>
</div>
