<div class="detail-navi-container" [ngClass]="{'fixed-navi': fixedposition}">
                  <!-- Top hidden on the small screens-->
            <div class="more-info-container">
                   <ul class="more-info-list">
                     <li><i class="fas fa-check-circle"></i>Wyposażenie</li>
                     <li><i class="fas fa-list"></i>Opis</li>
                     <li><i class="fas fa-portrait"></i>Sprzedający</li>
                   </ul>
            </div>

  <div class="medium-container">
  <div class="model-name">
            <h2 class="model-header">{{car.mark}} {{car.model}} {{car.version}}</h2>
            <i class="far fa-star"></i>
            <div class="price-info">
                    <h4 class="price-header">{{car.price}} PLN</h4>
                    <span>Cena Brutto, Do negocjacji</span>
                    <a>Oblicz rate <i class="fas fa-angle-double-right"></i></a>
                    <i class="fas fa-share-alt"></i>
            </div>
            <ul class="model-info-list">
              <li>{{car.year}}</li>
              <li><i class="far fa-circle"></i>{{car.course}} km</li>
              <li><i class="far fa-circle"></i>sedan</li>
              <li><i class="far fa-circle"></i>{{car.fuel}}</li>
            </ul>
            <ul class="client-info-list">
              <li class="visible-sm"><i class="fas fa-phone"></i>513</li>
              <li class="visible-sm">Wyświetl numer</li>
              <li class="visible-sm"><i class="fas fa-envelope"></i>kontakt ze sprzedającym</li>
              <li class="visible-sm"><i class="far fa-star"></i> Obserwuj</li>
            </ul>
  </div>
</div>
</div>
