@import "../../../assets/styles/global";


//the big one
.detail-navi-container {
  margin: 0;
  position: relative;
  .basic-transition;
                            top: 320px;
  @media @small {
    top: 0;
  }

   .medium-container {
     position: relative;
   }
}


//list
.filter-list {
  .list-style-none;
  margin: 0;
  font-size: 0.9rem;
  line-height: 40px;
  color: black;
  opacity: .7;
  li {
    .d-inline;
    i {
      margin: 0 10px;
      opacity: 0.6;
      font-weight: 200;
    }
  }
  .s {
    .d-none;
    @media @small {
      .d-inline;
    }
  }
}


.more-info-container {
  border-bottom: solid 1px white;
  background-color: gray;
  padding: 0;
  @media @small {
    .d-none;
  }
}
.more-info-list {
  .list-style-none;
  padding: 0 20px;
  margin: 0;
  color: @main-color;
  .d-flex;
  justify-content: space-around;
  li {
    font-size: 0.9rem;
    .c-pointer;
      &:hover {
        color: @sec-color;
      }
    i {
      line-height: 40px;
      margin-right: 10px;
    }
  }
}




.model-name {
  .position(relative);
 padding: 5px 0 5px;
  @media @small {
    padding: 15px 0 5px;
  }


  .model-header {
    color: @main-color;
    .font-bold;
    font-size: 1.6rem;
    padding: 10px 0;
      @media @small {
        border-bottom: solid 1px lightgray;
      }
     @media @medium {
       font-size: 2.5rem;
     }
  }
}



