@bg-blue: lighten(darkblue, 40%);
@light-line: lighten(lightgray, 10%);
@big-light-line: lighten(black, 60%);
@main-bg: rgba(lightgray, 0.3);
@light-black: lighten(black, 70%);



//text
@main-font-size: 18px;
@small-cars-font: 17px;
@mid-cars-font : 19px;
@big-car-font: 20px;
@mobile-md-sm-cars: 14px;
@hover-text-color: darken(lightblue, 20%);
@brands-color: darken(blue, 30%);

//social
@facebook-color: #3b5998;
@google-color:  #4c8bf5;

//amounts
@detail-big-img-height: 350px;
@left-navi-width: 300px;
