<div class="big-container">
  <div class="filter-container">
    <ul class="filter-list">
      <li>Strona główna <i class="fas fa-angle-right"></i></li>
      <li>Osobowe <i class="fas fa-angle-right"></i></li>
      <li>Mercedes-Benz</li>
      <li>Klasa C<i class="fas fa-angle-right"></i></li>
      <li>C 63 AMG<i class="fas fa-angle-right"></i></li>
      <li>Mercedes-Benz Klasa C W205 (2014-)</li>
    </ul>

  </div>
<app-detail-navi></app-detail-navi>


<section class="main-detail-section">
  <div class="medium-container">

  </div>
</section>
</div>
