<div class="big-container">
  <div class="filter-container">
    <ul class="filter-list">
      <li class="s">Strona główna <i class="fas fa-angle-right"></i></li>
      <li class="s">Osobowe <i class="fas fa-angle-right"></i></li>
      <li>Mercedes-Benz</li>
      <li>Klasa C<i class="fas fa-angle-right"></i></li>
      <li>C 63 AMG<i class="fas fa-angle-right"></i></li>
      <li>Mercedes-Benz Klasa C W205 (2014-)</li>
    </ul>

  </div>
  <div class="navi">
<app-detail-navi></app-detail-navi>
  </div>
  <div class="bottom-xs-navi hidden-sm">
    <ul>
      <li><a><i class="fas fa-phone"></i>Zadzwon</a></li>
      <li><a class="blue"><i class="fas fa-envelope"></i>Napisz</a></li>
    </ul>
  </div>
<section class="main-detail-section">
  <div class="another-container">   <!--have to add class .medium-container -->
          <div class="main-detail-img">
            <i class="fas fa-chevron-left mychevron"></i>
            <div class="main-img"></div>
            <i class="fas fa-chevron-right mychevron"></i>

              <span class="show-all-images">Zobacz wszystkie zdjęcia liczba <i class="fas fa-camera"></i></span>
          </div>
          <div class="dealer-info-container">
              <div class="dealer-info-top main-bg">
              <h5>dealer or client</h5>
                <span>Sprzedający na Autocenter od data!</span>
                <h4>Nazwa Clienta</h4>
                <img class="premium-img" src="" alt="premium">
              </div>
              <div class="dealer-info-mid">
                <div class="dealer-logo">
                  empty
                </div>
                <div class="dealer-where">
                  <i class="fas fa-map-marker-alt"></i><span>Skąd pochodzi</span>
                </div>
                <div class="dealer-numbers">
                  <ul>
                    <li><i class="fas fa-phone"></i> 51220292 <span>Wyswietl numer</span></li>
                  </ul>
                </div>

              </div>
          </div>
    <div class="date-id-details">
      <h2>Szczegóły</h2>
      <ul>
        <li><span class="list-span">Oferta of</span> <a class="nav">!!Kategoria Klienta!!</a></li>
        <li><span class="list-span">kategoria</span> <a class="nav">!!Kategoria Pojazdu!!</a></li>
        <li><span class="list-span">marka</span> <a class="nav">!!Kategoria Marki!!</a></li>
        <li><span class="list-span">model</span> <a class="nav">!!Kategoria Modelu!!</a></li>
        <li><span class="list-span">9</span> <a>ob8</a></li>
        <li><span class="list-span">rok</span> <a class="nav">!!Kategoria Roku</a></li>


        <li><span class="list-span">przebieg</span> <a>199987 km</a></li>
        <li><span class="list-span">rodzaj paliwa</span> <a class="nav">!!Kategoria Paliwa!!</a></li>
        <li><span class="list-span">skrzynia</span> <a>manual</a></li>
      </ul>
      <ul>
        <li><span class="list-span">typ</span> <a class="nav">!!Kategoria Typu!!</a></li>
        <li><span class="list-span">liczba drzwi</span> <a>5</a></li>
        <li><span class="list-span">liczba miejsc</span> <a>5</a></li>
        <li><span class="list-span">kolor</span> <a>czarny</a></li>
        <li><span class="list-span">stan</span> <a>używane</a></li>
      </ul>

    </div>
  </div>
</section>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
