<div class="big-container">
  <div class="filter-container">
    <ul class="filter-list">
      <li class="s">Strona główna <i class="fas fa-angle-right"></i></li>
      <li class="s">Osobowe <i class="fas fa-angle-right"></i></li>
      <li>Mercedes-Benz</li>
      <li>Klasa C<i class="fas fa-angle-right"></i></li>
      <li>C 63 AMG<i class="fas fa-angle-right"></i></li>
      <li>Mercedes-Benz Klasa C W205 (2014-)</li>
    </ul>

  </div>
  <div class="navi">
<app-detail-navi></app-detail-navi>
  </div>
  <div class="bottom-xs-navi hidden-sm">
    <ul>
      <li><a><i class="fas fa-phone"></i>Zadzwon</a></li>
      <li><a class="blue"><i class="fas fa-envelope"></i>Napisz</a></li>
    </ul>
  </div>
<section class="main-detail-section">
  <div class="another-container medium-container">
          <div class="main-detail-img">
              <img src="../../assets/images/maxresdefault.jpg">
              <span class="show-all-images">Zobacz wszystkie zdjęcia liczba <i class="fas fa-camera"></i></span>
          </div>
          <div class="dealer-info-container">
              <div class="dealer-info-top main-bg">
              <h5>dealer or client</h5>
                <span>Sprzedający na Autocenter od data!</span>
                <h4>Nazwa Clienta</h4>
                <img class="premium-img" src="" alt="premium">
              </div>
              <div class="dealer-info-mid">
                <div class="dealer-logo">
                  empty
                </div>
                <div class="dealer-where">
                  <i class="fas fa-map-marker-alt"></i><span>Skąd pochodzi</span>
                </div>
                <div class="dealer-numbers">
                  <ul>
                    <li><i class="fas fa-phone"></i> 51220292 <span>Wyswietl numer</span></li>
                  </ul>
                </div>

              </div>
          </div>
    <div class="date-id-details">
      <ul>
        <li><span>Oferta of</span> <a>osoba prywatna</a></li>
        <li><span>kategoria</span> <a>osobowe</a></li>
        <li><span>marka</span> <a>audi</a></li>
        <li><span>model</span> <a>a4</a></li>
        <li><span>wersja</span> <a>ob8</a></li>
        <li><span>rok</span> <a>2008</a></li>
        <li><span>przebieg</span> <a>199987 km</a></li>
        <li><span>rodzaj paliwa</span> <a>diesel</a></li>
        <li><span>skrzynia</span> <a>manual</a></li>
        <li><span>typ</span> <a>sedan</a></li>
        <li><span>liczba drzwi</span> <a>5</a></li>
        <li><span>liczba miejsc</span> <a>5</a></li>
        <li><span>kolor</span> <a>czarny</a></li>
        <li><span>stan</span> <a>używane</a></li>

      </ul>
    </div>
  </div>
</section>
</div>
