@import "../../../assets/styles/global";

.big-search-form {
  padding-bottom: 60px;

}
.navigation-ul {
 .visible-sm;
}
.fas {
  margin-right: 10px;
}
.navi-list {
  a {
    text-decoration: none;
  }
}

#top-navi {
  .w(100%);
  @media @small {
    .d-none;
  }
  mat-form-field {
    .w(100%);
  }

}





.placeholder {
  color: #00D318;
  .position(absolute, @left: 20px, @top: 10px);
  z-index: 90 !important;
}

.mini-span {
  font-size: 14px;
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  transition: 600ms all ease;
  color: darken(#b3bead, 30%);
  z-index: 8 !important;     //more than 7
}
.example-full-width2 {
  .w(50%);
  .d-inline;
  .position(relative);
  color: black;
  vertical-align: bottom;
            //+ or ~ both works fine
  input:focus + .mini-span {
    transform: translateY(-100%) translateX(-50%);
    transition: 600ms all ease;
  }


}
.form_field_wrapper {
  .w-calc(50%, 10px);
  margin-left: 10px;
  .d-inline;
  mat-form-field {
    .d-inline;
    margin-left: 10px;
  }
}
.full_field_wrapper {
  .w-calc(100%, 20px);
  padding: 10px;
  mat-form-field {
    .d-block;
    margin-top: 10px;
  }
}
.half_field_wrapper {
  .full_field_wrapper;
  mat-form-field {
    .d-inline;
    margin-left: 10px;
    .w-calc(50%, 20px);
  }
}
#left_span_fuel {
  .absolute;
  background-color: red;
  left: 55px;
  z-index: 1;
  top: 10px;
  height: 32px;
  .w(100px);
}
.span_fuel {
  z-index: 2;
  width: 100px;
  padding: 5px 0;
  .center-text;
}
.spans-inside {
  .d-flex;
  justify-content: space-around;
}




.test-class {
  color: @brands-color;
}



      //test animation

.keyframes(fade-form; {
  0% { opacity: 0;}
  100% { opacity: 1;}
});

.main-form {
  .animation(fade-form 300ms linear);
}

