<div class="big-search-form">

  <div class="radio-buttons-cont relative">
    <div id="left_span_fuel" #movedspan></div>
    <div class="state_btn" (click)="sendspan(1, $event)" [ngClass]="{'span-clicked': firstclicked == 1}" #firstspan>All</div>
    <div class="state_btn" (click)="sendspan(2, $event)" [ngClass]="{'span-clicked': firstclicked == 2}">New</div>
    <div class="state_btn" (click)="sendspan(3, $event)" [ngClass]="{'span-clicked': firstclicked == 3}">Used</div>
  </div>
  <form>
    <div class="full_field_wrapper">
      <mat-form-field floatLabel="never">
        <mat-select  name="food" placeholder="Choose a mark.." [(ngModel)]="mark" name="mark" (selectionChange)="checkmark(mark)">
          <mat-option *ngFor="let mark of marks$ | async" [value]="mark">
            {{mark}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="never">
        <mat-select  name="food" placeholder="Choose a model.." [(ngModel)]="model" name="model">
          <mat-option *ngFor="let model of correct_models" [value]="model">
            {{model}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="half_field_wrapper">
      <mat-form-field floatLabel="never">
        <input type="number"   aria-label="Number" matInput placeholder="Min Price..." [(ngModel)]="price_from" name="price_from">
        <span class="spanAbs">$</span>
      </mat-form-field>

      <mat-form-field floatLabel="never">
        <input type="number"   aria-label="Number" matInput placeholder="Max Price..." [(ngModel)]="price_to" name="price_to">
        <span class="spanAbs">$</span>

      </mat-form-field>
    </div>
    <div class="half_field_wrapper">
      <mat-form-field floatLabel="never">
        <input type="number"   aria-label="Number" matInput placeholder="Year From:" [(ngModel)]="year_from" name="year_from">

      </mat-form-field>
      <mat-form-field floatLabel="never">
        <input type="number"   aria-label="Number" matInput placeholder="Year To:" [(ngModel)]="year_to" name="year_to">

      </mat-form-field>
    </div>

    <div class="span-buttons-cont">
      <div class="spans-inside relative">
        <div class="span_fuel" #firstfuel (click)="sendfuel(1, $event)" [ngClass]="{'fuel_active': fuel === 1}">All</div>
        <div class="span_fuel" (click)="sendfuel(2, $event)" [ngClass]="{'fuel_active': fuel === 2}">Diesel</div>
        <div class="span_fuel" (click)="sendfuel(3, $event)" [ngClass]="{'fuel_active': fuel === 3}">Petrol</div>
      </div>
    </div>
  </form>
  <div id="btn_bottom_wrapper">
    <button mat-raised-button id="search_bottom" (click)="AutogoToOffers()">Search</button>
  </div>
</div>
