<div class="big-search-form">


          <!-- Navigation-->
  <div class="search-navigation">
    <ul class="navigation-ul p-0">
      <li class="navi-list"><a [routerLink]="['/main']"  routerLinkActive="test-class" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-car"></i>Osobowe</a></li>
      <li class="navi-list"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon" ></i>Części</a></li>
      <li class="navi-list"><a [routerLink]="['motorcycle']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i>Motocykle</a></li>
      <li class="navi-list dropdown"><a id="drop-a">Show more
        <i class="fas fa-caret-down"></i></a>
      <ul class="hidden-ul" [ngClass]="{'shown-ul': showUlBool}">
        <li class="navi-list"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fas fa-car"></i>Ciężarowe</a></li>
        <li class="navi-list"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon" ></i>Rowery</a></li>
        <li class="navi-list"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i>Busy</a></li>
      </ul>
      </li>

      <li class="navi-list hidden-lg"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i> Ciężarowe</a></li>
      <li class="navi-list hidden-lg"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i> Xyz</a></li>
      <li class="navi-list hidden-lg"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i> aaa</a></li>
      <li class="navi-list hidden-lg"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i> bbb</a></li>
      <li class="navi-list hidden-lg"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i> ccc</a></li>
    </ul>

    <div id="top-navi">
      <mat-form-field>
        <input type="text"  placeholder="Kategoria" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
          <mat-option [routerLink]="[option.path]" class="myoption" *ngFor="let option of filteredOptions | async" [value]="option.name">
            <i class="fas {{option.icon}}"></i>{{option.name}}
          </mat-option>


        </mat-autocomplete>

      </mat-form-field>
  </div>
  </div>


          <!-- Another option-->
  <router-outlet></router-outlet>





          <!-- Another one-->

  <div class="bottom-form">
    <p>Wyszukiwanie</p>
    <button mat-raised-button color="primary" (click)="goToOffers()"><i class="fas fa-search"></i>Wyszukaj</button>

  </div>

</div>
