<div class="big-search-form">


          <!-- Navigation-->
  <div class="search-navigation">
    <ul class="navigation-ul p-0">
      <li class="navi-list"><a [routerLink]="['/main']"  routerLinkActive="test-class" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-car"></i>Osobowe</a></li>
      <li class="navi-list"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon" ></i>Części</a></li>
      <li class="navi-list"><a [routerLink]="['motorcycle']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i>Motocykle</a></li>
      <li class="navi-list dropdown"><a id="drop-a">Show more
        <i class="fas fa-caret-down"></i></a>
      <ul class="hidden-ul" [ngClass]="{'shown-ul': showUlBool}">
        <li class="navi-list"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fas fa-car"></i>Ciężarowe</a></li>
        <li class="navi-list"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon" ></i>Rowery</a></li>
        <li class="navi-list"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i>Busy</a></li>
      </ul>
      </li>

      <li class="navi-list hidden-lg"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i> Ciężarowe</a></li>
      <li class="navi-list hidden-lg"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i> Xyz</a></li>
      <li class="navi-list hidden-lg"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i> aaa</a></li>
      <li class="navi-list hidden-lg"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i> bbb</a></li>
      <li class="navi-list hidden-lg"><a [routerLink]="['parts']"  routerLinkActive="test-class"><i class="fab fa-accessible-icon"></i> ccc</a></li>
    </ul>

    <div id="top-navi">
      <mat-form-field>
        <input type="text"  placeholder="Kategoria" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
          <mat-option [routerLink]="[option.path]" class="myoption" *ngFor="let option of filteredOptions | async" [value]="option.name">
            <i class="fas {{option.icon}}"></i>{{option.name}}
          </mat-option>


        </mat-autocomplete>

      </mat-form-field>
  </div>
  </div>
  <div class="radio-buttons-cont">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button class="radio-group" value="Wszystkie" color="primary" checked>Wszystkie</mat-radio-button>
      <mat-radio-button class="radio-group" value="Nowe" color="primary">Nowe</mat-radio-button>
      <mat-radio-button class="radio-group" value="Używane" color="primary">Używane</mat-radio-button>
    </mat-radio-group>
  </div>


          <!-- Another option-->
  <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
  </main>







</div>
