@import "../../../assets/styles/global";

.big-search-form {

}
.navigation-ul {
 .visible-sm;
}
.fas {
  margin-right: 10px;
}
.navi-list {
  a {
    text-decoration: none;
  }
}

#top-navi {
  .w(100%);
  @media @small {
    .d-none;
  }
  mat-form-field {
    .w(100%);
  }

}
#top_radios {
  .d-flex;
  justify-content: space-around;
}




.placeholder {
  color: #00D318;
  .position(absolute, @left: 20px, @top: 10px);
  z-index: 90 !important;
}

.mini-span {
  font-size: 14px;
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  transition: 600ms all ease;
  color: darken(#b3bead, 30%);
  z-index: 8 !important;     //more than 7
}
.example-full-width2 {
  .w(50%);
  .d-inline;
  .position(relative);
  color: black;
  vertical-align: bottom;
            //+ or ~ both works fine
  input:focus + .mini-span {
    transform: translateY(-100%) translateX(-50%);
    transition: 600ms all ease;
  }


}
.form_field_wrapper {
  .w-calc(50%, 10px);
  margin-left: 10px;
  .d-inline;
  mat-form-field {
    .d-inline;
    margin-left: 10px;
  }
}
.full_field_wrapper {
  .w-calc(100%, 20px);
  padding: 10px;
  mat-form-field {
    .d-block;
    margin-top: 10px;
  }
}
.half_field_wrapper {
  .d-inline;
  .w-calc(100%, 10px);
  padding: 10px 10px 0 0;
  mat-form-field {
    .d-inline;
    margin-left: 10px;
    .w-calc(50%, 20px);
  }
}
#left_span_fuel {
  .absolute;
  z-index: 1;
  background-color: @main-color;
  left: 0;
  top: 15px;
  height: 32px;
  .w(33.333%);
  border-radius: 0 0 8px 8px;
  .custom-transition(0.5s all ease);
}
.state_btn {
  z-index: 2;
  .w(33.333%);
  .center-text;
  .c-pointer;
  .font-bold;
  color: dimgray;
}
#fuel_span {
  z-index: 2;
}
#rfuel {
  margin-left: 10px;
  margin-top: 10px;
}
.radio-buttons-cont {
  .d-flex;
  justify-content: space-between;
  padding: 20px 0;
  &:before {
    content: '';
    .absolute;
    left: 0;
    top: 0;
    height: 15px;
    .w(100%);
    background-color: @main-color;
  }

}
.span_fuel {
  z-index: 2;
  width: 100px;
  padding: 5px 0;
  .center-text;
  .relative;
  .c-pointer;
  color: white;
  border: solid 2px white;
  .custom-transition(0.3s all ease);
  &:hover {
    background-color: white;
    color: @main-color;
  }

}
#moved_fuel {
  .absolute;
  left: 15px;
  top: 15px;
  z-index: 1;
  .w(102px);
  height: 36px;
}
.spans-inside {
  .d-flex;
  justify-content: space-around;
}
#movedinside {
  .w(100%);
  height: 100%;
  .relative;

}
.fuel_active {
  background-color: white;
  color: @main-color;

  &:before {
    .aftericons;
    left: -20px;
    top: 50%;
    transform: rotate(-90deg) translateX(50%);
  }
  &:after {
    .aftericons;
    top: 50%;
    transform: rotate(90deg) translateX(-50%);
    right: -20px;
  }
}




.test-class {
  color: @brands-color;
}
.span-buttons-cont {
  background-color: @main-color;
  margin-top: 30px;
}
#btn_bottom_wrapper {
  .w(100%);
  margin: 0 auto;
  padding: 10px 0 15px;
  .center-text;
  background-color: @main-color;
}
#search_bottom {
  .w(300px);
  color: dimgray;
}



      //test animation

.keyframes(fade-form; {
  0% { opacity: 0;}
  100% { opacity: 1;}
});

.main-form {
  .animation(fade-form 300ms linear);
}
